[2016-01-11 13:52] lukasmartinelli opened #3 "DL30016 Npm version pinning"
Validate version pinning for `npm`.

[2016-01-11 13:53] lukasmartinelli opened #4 "Create wiki entries for DL rules"
Add the entries of the original rules. Is just a one time effort.

[2016-01-11 14:50] #4 closed

[2016-01-12 16:46] jtrim opened #6 "`unexpected "\n"` at ARG instruction"
Hi! Just wanted to report a potential bug with the parser. When I run:

[code]

...from a directory containing this Dockerfile:

[code]

...I get the output:

[code]

When I comment out the the `ARG` line:

[code]

...everything seems to run just fine:

[code]

Let me know if I can provide any more information. Thanks for writing this tool!

[2016-01-12 16:57] lukasmartinelli commented on #6
Thanks for reporting!!

Yes I am having a bit problem with `\n` newlines in general.
I don't yet really support the `ARG` parameter but I changed the parser now to just capture
the entire line after `ARG`. So this should no longer fail.

I don't do anything smart with `ARG` yet.

[2016-01-12 16:57] #6 closed

[2016-01-12 20:30] moshen opened #7 "Parsing fails when there is a newline in ENV"
[code]

Fails with:
[code]

[code]

Works.

[2016-01-12 20:33] moshen opened #8 "Homebrew installation, release?"
It would be nice to be able to install this from homebrew ([like `shellcheck`](https://github.com/Homebrew/homebrew/blob/d990159b30b7756e24864e24b6af6fad2c47315c/Library/Formula/shellcheck.rb)), without having to install `cabal`.

Typically homebrew formulas are pinned to releases/versions, will you be creating a release?

[2016-01-12 20:39] ye opened #9 "Display Dockerfile path when showing the results"
Currently, only line numbers are printed out when there is a rule violation detected. It would be great to have the path to the Dockerfile examined printed out as well, just like most of other linters/compilers do.
That way, we can write a simple bash script to lint a whole bunch of Dockerfiles and the results would make more sense as to while violation is pertaining to which Dockerfile.
Additiona

[2016-01-12 20:53] ye commented on #8
+1 although I think this issue should warrant a PR at [Homebrew's repo](https://github.com/Homebrew/homebrew/issues) more than an issue here in this source repo.

Here are the steps in my bash history. It wasn't too bad but again not as straightforward as it can be (e.g. `brew install hadolint`).

The `stack build` was the most time consuming part - it took a good half an hour on my rMBP 13inch  E

[2016-01-12 21:09] moshen commented on #8
You are correct, it would require a PR to Homebrew.  I would be happy to make the Formula as well, I just wanted to point out that Formula are usually tied to releases.

[2016-01-12 21:42] lukasmartinelli commented on #9
That all makes a whole lot of sense! The CLI version is very basic, I want to implement multiple formatters to support better output.

Actuall didn't think people would use the CLI version because installing something with Haskell is kind of difficult.

[2016-01-12 21:45] lukasmartinelli commented on #8
I would like to put it on homebrew :+1:

I didn't know that it was that straightforward to create a brew formula.
Thanks for the research!

Sadly Haskell takes alot of time to build! I really don't want that for people trying it out.

[2016-01-12 21:46] lukasmartinelli commented on #7
You got me :)
There are alot of Dockerfile parsing gotchas I still have to find and fix.

I have an integration test that lints some hundred Dockerfiles to check whether the parser fails.

https://github.com/lukasmartinelli/hadolint/blob/master/integration_test.sh

[2016-01-12 21:48] lukasmartinelli commented on #8
One can also build hadolint with cabal actually. A nice pull request suggested stack as build tool.
But perhaps it is easier to push `hadolint` to Hackage so it can be installed with cabal.

[2016-01-13 04:16] moshen opened #11 "Parsing fails when there are multiple quoted ENV vars"
[code]

Fails with:
[code]

While,
[code]

Works.

Could be related to #7 , I didn't know if I should open another issue or add to that one.

[2016-01-13 04:21] moshen commented on #7
I imagine the Dockerfile syntax has a few rough edges.  Thank you for this, it's a great piece of software :beers: .  I'm hoping to integrate this into my Docker workflows.

[2016-01-13 16:07] ye commented on #8
Yeah, creating a Homebrew build receipt is very easy - we can simply require `haskell-stack` as a dependency (as there is already a receipt for that.) and translate the steps into a few lines of ruby code to get it done. And moshen is right about the release - it probably won't get out until the next Homebrew release.

Even though I do know that compiling Haskell codes are slow, I have have zero k

[2016-01-13 16:11] ye commented on #9
@lukasmartinelli since there is no GUI, how else would you expect people to use `hadolint` other than CLI? ;) In fact, you'd be surprised a lot of us on Github know how to compile code into binaries and know a thing or two about Unix and command line!

[2016-01-13 16:16] ye commented on #8
A much easier approach to help installation and avoid time consuming compiling is to create project releases here. Github allows pre-built binaries and artifacts be uploaded into each releases. So installation is a breeze of simply downloading those binaries. It will add some burden to the author though as you may have to build it on all the platforms that you support or it won't be as helpful.

T

[2016-01-13 16:45] ye opened #13 "Better usage page and better validating cli parameters."
Currently the usage page prints out a single line and does nothing to explain what each flag does.

I accidentally use `-v` and thought it was a verbose flag but it turns out to be [print version flag](https://github.com/lukasmartinelli/hadolint/blob/master/src/Main.hs#L26) and then I am getting an error see below.

[code]

[2016-01-13 17:42] pschultz opened #14 "hlint"
As it happens I also started to look into Haskell and a colleague of mine just told me about [hlint](http://www.unix.com/man-page/debian/1/hlint/). Interestingly enough I never saw that mentioned in any of the usual books. It looks like an absolutely amazing learning tool, so I just wanted to let you know about it too :) Also, it seems so obvious to use a linter to improve a linter.

[code]

[2016-01-13 19:04] lukasmartinelli commented on #14
@pschultz Hlint is amazing - the best linting tool I ever used.
I didn't fix the ETA rules on purpose because I sometimes get confused when reading
curried code.

The other stuff just slipped through. Thanks for noticing.

[2016-01-13 21:17] lukasmartinelli commented on #13
Definitly :+1:

[2016-01-14 05:37] josephfrazier opened #15 "Parsing fails when there is a newline in CMD"
This is very similar to #7, but I thought I'd make a separate issue for the sake of completeness.

Given this Dockerfile:

[code]

parsing fails with:

[code]

[2016-01-15 14:17] LudwigHoff opened #16 "DL3020 fires on ADD ./files/my.tar.gz"
Maybe a list of known archive extensions could be whitelisted.

Love the tool by the way.  Only raising this cos the page asks for issues to be raised.

[2016-01-15 14:42] lukasmartinelli commented on #16
Uups now that was a real bug. Unit test didn't catch it. Thanks.

[2016-01-18 14:54] afternoon opened #17 "DL4000 Maintainer not recognised correctly"
A DL4000 (specify maintainer) error is displayed for the following Dockerfile, despite a maintainer field being present. Changing email doesn't make any difference.

[code]

In fact the example from the [DL4000 wiki page](https://github.com/lukasmartinelli/hadolint/wiki/DL4000) also fails:

[code]

[2016-01-18 14:57] afternoon commented on #17
Looking through the code, I can't see any obvious reason why this wouldn't work.

[2016-01-18 15:11] lukasmartinelli commented on #17
It was a bad one. Parser fail. Because of the `@` in the email
the parser tried to match a digested docker base image `FROM <image>@<digest>`.
And therefore there was no Maintainer but a `DigestedImage` in the AST.

Thanks for noticing.

[2016-01-18 15:11] #17 closed

[2016-01-18 16:47] lukasmartinelli commented on #11
Thanks again for reporting. Fixed and deployed.

![dockerfile_linter](https://cloud.githubusercontent.com/assets/1288339/12397133/90ff9970-be0b-11e5-9918-6af1d90edf49.png)

[2016-01-18 16:47] #11 closed

[2016-01-18 21:31] afternoon commented on #17
Of course! Awesome. Thanks!

[2016-01-18 23:05] moshen commented on #11
:beers:

[2016-01-20 16:13] nixlike opened #19 "DL3008 false positive"
Hi Lukas,

Dockerfile:

FROM ubuntu:15.10
MAINTAINER Oleksii Dzhulai nixlike@gmail.com

WORKDIR /tmp

RUN sed -i 's/http:\/\/archive.ubuntu.com\/ubuntu\//mirror:\/\/mirrors.ubuntu.com\/mirrors.txt/' /etc/apt/sources.list
RUN DEBIAN_FRONTEND=noninteractive apt-get update && apt-get install --no-install-recommends -y \
        python-demjson=2.2.2* \
        wget=1.16.1* \
        git=1:2.5.0* \

[2016-01-20 16:21] lukasmartinelli commented on #19
Yes I knew there were some gotchas in parsing the `apt` command. I probably need to strip the options aways. Thanks for the report.

btw. do you know whether `apt-get clean` is a Dockerfile best practice?
Seems like a good option to have.

[2016-01-21 11:11] lukasmartinelli commented on #16
Seems to be fixed.

![kk8ghlbuzk](https://cloud.githubusercontent.com/assets/1288339/12478894/1297cbaa-c038-11e5-8d65-709ea9040abb.gif)

[2016-01-21 11:11] #16 closed

[2016-01-21 12:27] lukasmartinelli commented on #19
It seems to work on http://hadolint.lukasmartinelli.ch. I fixed some other parsing stuff perhaps that helped.

![pngaj0pkhm](https://cloud.githubusercontent.com/assets/1288339/12480436/9c91c928-c042-11e5-9618-20bd7223318d.gif)

[2016-01-21 15:24] nixlike commented on #19
Docker recommends it
https://docs.docker.com/engine/articles/dockerfile_best-practices/

Thanks for fixing! I've pulled latest, when docker image will include the fix ?

[2016-02-01 17:00] devth opened #20 "Code Climate Engine"
Would be useful to run `hadolint` as a Code Climate Engine:
http://blog.codeclimate.com/blog/2015/07/07/build-your-own-codeclimate-engine/

[2016-02-01 18:48] lukasmartinelli commented on #20
- [ ] Need to trim down the image size from 1 GB to 250MB first (but that's a good thing anyway). Will probably create a special distribution file.
- [ ] Implement a JSON formatter

[2016-02-02 06:48] lukasmartinelli commented on #20
Just remember that your initial suggestion was to use the API from the website.

 That will be much less work to integrate.

[2016-02-02 15:49] devth commented on #20
I was actually thinking of running it as an engine, but API would be nice too.

The Yetibot plugin runs CodeClimate locally, so the only way it could take advantage of hadolint is if it were packaged as an engine.

[2016-02-02 18:47] lukasmartinelli commented on #20
Wuhuu. It is actually not that difficult to build a static Haskell binary (building it crossplatform is though).
I can now have build container that spits out the binary that I can then add to a blank image and stay under the 200MB limit. Should write a Makefile for that.

[2016-02-02 18:52] devth commented on #20
Nice! I wonder if Travis or CircleCI or a similar could help with cross-platform builds?

https://circleci.com/docs/language-haskell

[2016-02-02 20:01] lukasmartinelli commented on #20
Will take a bit longer. In order to make it work I need to implement #9 and #13 first - and file globbing as well.

First thought about just writing a wrapper script in a other language to simply transform the output into JSON and deal with all the other stuff - but that would be giving up on Haskell :grimacing:

The only good crosscompile story I've seen so far is in Go. Haven't found something o

[2016-02-02 20:06] devth commented on #20
I thought Docker would remove the need to cross-compile.

[2016-02-03 23:25] jottr opened #21 "Parse fails with multiline comments"
I have a multiline comment like this in my `Dockerfile`:

[code]
which results in an`unexpected "\n"` error.

[2016-02-04 18:38] chk1 opened #22 "Parsing fails when environment variables are set as "ENV <key> <value>""
According to the [docs](https://docs.docker.com/engine/reference/builder/#env) there are two ways to use ENV, however:

This works: `ENV <key>=<value>`

This does not and will cause the parser to fail: `ENV <key> <value>`

[code]

Using the example from a recent pull request:

[code]

Other things such as putting random letters in Dockerfiles will also trigger a Javascript error, again line 17 fro

[2016-02-09 03:04] dblandin commented on #20
Hey @devth @lukasmartinelli,

I'm Devon, an engineer at @codeclimate.

Awesome to see that you're considering hadolint for a Code Climate engine! We have a `Dockerfile` in nearly every codeclimate repo and would definitely benefit from this tool during our own analyses.

A colleague of mine and haskell enthusiast, @pbrisbin, recently dealt with the same issue regarding image size during the develo

[2016-02-13 09:12] r4j4h opened #23 "Error code 0 not actually returned upon clean lint pass"
Thank you for sharing Hadolint, it is quite wonderful and gave me good suggestions on my Dockerfiles.

In the hopes of improving it's quality I'd like to report a small bug when linting a Dockerfile that passes with no problems where Hadolint returns a failure error code instead of a successful one, although from the error it appears it is trying to return with a successful one.

So I am able to s

[2016-02-13 09:30] lukasmartinelli commented on #23
Thanks for the detailed report!!

I never tested the exit code I realize now.
https://github.com/lukasmartinelli/hadolint/blob/master/src/Main.hs#L16

The later part problem is also really bad in my opinion because Docker is the only way for most people to be able to install hadolint.

[2016-02-13 09:40] r4j4h commented on #23
Thanks for the quick response! I am glad it will be an easy fix and look forward to it.

I agree the latter problem is very serious. I get the exact same response no matter if I try with -ti, just -i, or neither. I am doing this on Windows 8 through Cygwin over ssh inside docker-machine's standard boot2docker-like virtual machine. Let me know if there's anything else I can do to try to help solve

[2016-02-13 15:12] lukasmartinelli commented on #22
This should work. Which is important.
https://github.com/lukasmartinelli/hadolint/blob/master/src/Test.hs#L31

[code]

But assigning `Hello World` to `foo` without quoting does not work yet.  I am not sure whether that is really valid. If you do `export foo Hello World` you will also only get the `Hello` stored in the `foo` variable which makes the `foo Hello World` assignment a bad practice.

[co

[2016-02-13 15:13] #19 closed

[2016-02-13 15:16] lukasmartinelli commented on #15
This works now. Thanks.

[code]

Will result in

[code]

[2016-02-13 15:16] #15 closed

[2016-02-13 15:17] lukasmartinelli commented on #21
Can you post a full Dockerfile?

I cannot create a regression in the test suite.

https://github.com/lukasmartinelli/hadolint/blob/master/src/Test.hs#L41-L42

[2016-02-13 15:18] lukasmartinelli commented on #23
Exit codes now work correctly. The other problem is still open. I am not sure what's the problem whether it is the program or how Docker works in a virtual machine when piping into it. But I will move that to a separate issue.

[2016-02-13 15:18] #23 closed

[2016-02-13 23:47] r4j4h commented on #23
That sounds like the right approach to take here. Thank you for the quick response. I will let you know if I discover any more cases where it behaves differently in that issue. :)

[2016-02-16 09:23] niksite opened #24 "We should have an ability to ignore some rules."
E.g. `hadolint -i --ignore=DL3008` would be much appreciated.

[2016-02-16 09:30] lukasmartinelli commented on #24
:+1:

[2016-02-16 21:01] timgriffiths commented on #24
Would be better if you could add a comment in the dockerfile directly above what you wanted to ignore so it was clear to all users. Ie
#DL3008 ignoring because abc

[2016-02-19 21:04] bootstraponline commented on #24
:+1:

[2016-02-23 18:40] r4j4h opened #26 "Parsing fails when file ends with no newline"
Running hadolint given a Dockerfile with no newline at the end of its last line.
### Actual Behavior:

[code]
### Fixed by

Adding a new line to the end of the Dockerfile.

[2016-02-23 18:47] r4j4h opened #27 "Parsing fails when line in multiline block ends with extraneous space"
### Problem

Running hadolint given a Dockerfile with a multiline block with an additional space at the end of the line continuation symbol.

[code]

***Note the added SPACE after imagemagick that is the cause of the problem***

### Current Behavior:
[code]

### Fixed by

Removing the extra space.

[2016-02-28 11:23] christianwoehrle opened #28 "False Alarm DL3000 Use absolute WORKDIR"
This
WORKDIR $ENVIRONMENTPATH

leads to DL3000 Use absolute WORKDIR
Look like the checks is for leading "/" only?

[2016-02-28 18:26] lukasmartinelli commented on #28
Thank. Didn't know you can use env vars in `WORKDIR`. Need to change the implementation.

[2016-03-17 22:09] jmreicha commented on #8
+1 brew install would be awesome.

[2016-03-29 13:52] aweiteka opened #29 "DL3002: Do not switch to root USER not always valid"
While I agree with the general principle, I encountered the need to switch to root in a situation where the base docker image was non-root but I needed to install additional software via yum. Here's the Dockerfile:
https://github.com/redhataccess/ascii_binder/blob/master/Dockerfile

[2016-03-29 14:11] lukasmartinelli commented on #29
Yes I found that in practice as well - it is a bit too aggressive. Will probably remove the rule.

[2016-03-30 11:26] vishalvsh1 opened #30 "DL3000 not honouring the exception part"
I have Dockerfile which has following syntax
[code]

when i tried online version to check, it is throwing DL3000 error. Ideally as per document this comes as part of exception because work is already set in ENV.

[2016-03-30 14:17] aweiteka commented on #29
Maybe it's better as a lower severity level so people take note of it but it doesn't fail.

[2016-03-31 09:22] tischda opened #31 "Colon triggers DL4000 Specify a maintainer of the Dockerfile"
Fails:

[code]

This works:

[code]

But tags on "scratch" do not make sense. Removing all colons you get this:

[code]

For this particular case, you should allow not specifying tags.

[2016-04-01 15:14] AndyBerman commented on #7
I know there's a workaround to put all the variables on one line, but when there are many variables, it becomes difficult to read.  Here's an example of what we have:

ENV LD_LIBRARY_PATH="/usr/lib/oracle/11.2/client64/lib" ORACLE_HOME="/usr/lib/oracle/11.2/client64" PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/oracle/11.2/client64/bin" APACHE_RUN_USER="www-data" APA

[2016-04-02 10:30] lukasmartinelli commented on #30
Thanks alot. Good description.

I don't backtrack the `$work` to the work env variable yet.
I now implemented that you can use references in `WORKDIR` which without triggering DL300.

[2016-04-02 10:30] #30 closed

[2016-04-02 10:31] lukasmartinelli commented on #28
Fixed together with #30.

[2016-04-02 10:31] #28 closed

[2016-04-03 14:21] lukasmartinelli commented on #27
Thanks for the great error description. One can really work with such a detailed report.
Fixed and added to test suite.

[2016-04-03 14:21] #27 closed

[2016-04-03 14:32] lukasmartinelli commented on #31
Thanks for the detailed report. This way I can easily fix it.

`FROM scratch` now no longer raises [DL3006](https://github.com/lukasmartinelli/hadolint/wiki/DL3006).

But it is weird that you get a *DL4000*. When you have

[code]

you get `DL4000`?

I cannot create a regression in https://github.com/lukasmartinelli/hadolint/commit/e57982ac2737597e09bc868e1da595fc85dedb42

[2016-04-03 14:40] lukasmartinelli commented on #31
Ah I can replicate it with the binary. Found the bug and fixed it.

[2016-04-03 14:40] #31 closed

[2016-04-03 22:05] lukasmartinelli commented on #8
You can now do `brew install hadolint`. :smile:

[2016-04-03 22:05] #8 closed

[2016-04-06 19:26] jmreicha commented on #24
I'd like to see something like @timgriffiths mentioned.  I think something similar to how Shellcheck  works would be nice.

[code]

For example.

[2016-04-11 09:57] vishalvsh1 commented on #30
Thanks a lot for this, Happy to see this. Great work.

[2016-04-14 17:32] jmreicha opened #33 "Hadolint fails multiline commands"
Running `hadolint Dockerfile` against the following sample,

[code]

gives the following error.

[code]

Is it getting hung up on the `\` character or is there something else happening?

[2016-05-08 21:26] garethr commented on #33
This also appears to be the case with LABELS. The following will error:

[code]

Where as the single line variant will not:

[code]

This formulation is documented on https://docs.docker.com/engine/userguide/labels-custom-metadata/#add-labels-to-images

[2016-05-19 12:01] hsmade opened #34 "Add more archive suffixes for add vs copy check"
https://github.com/lukasmartinelli/hadolint/blob/f951912765abe12e70372a56fde568c5e252febc/src/Rules.hs#L271

Could you please add .tgz ?

[2016-05-23 09:37] hsmade opened #36 "PIP pinning failures"
I found 2 occurrences where I get a false negative on PIP pinning:

RUN pip install git+https://github.com/rtfd/readthedocs-sphinx-ext.git@0.6-alpha#egg=readthedocs-sphinx-ext

RUN pip install 'alabaster>=0.7,<0.8,!=0.7.5'

[2016-05-23 11:37] hsmade commented on #36
--- a/src/Rules.hs
+++ b/src/Rules.hs
@@ -244,7 +244,7 @@ pipVersionPinned = instructionRule code severity message check
           check (Run args) = not (isPipInstall args && not (isRecursiveInstall args)) ||
                                 all versionFixed (packages args)
           check _ = True
-          versionFixed package = "==" `isInfixOf` package
+          versionFixed package = "=="

[2016-05-23 11:38] hsmade commented on #34
--- a/src/Rules.hs
+++ b/src/Rules.hs
@@ -270,7 +270,7 @@ aptGetNoRecommends = instructionRule code severity message check
           hasNoRecommendsOption cmd = ["--no-install-recommends"] `isInfixOf` cmd

 isArchive :: String -> Bool
-isArchive path =  True `elem` [ftype `isSuffixOf` path | ftype <- [".tar", ".gz", ".bz2", ".xz"]]
+isArchive path =  True `elem` [ftype `isSuffixOf` path | ftype <

[2016-07-04 19:07] dserodio opened #37 "Online demo at http://hadolint.lukasmartinelli.ch/ broken (404 and CORS errors)"
When I click on Lint in http://hadolint.lukasmartinelli.ch/ it sends a POST to http://api.hadolint.lukasmartinelli.ch/dockerfile which fails with a 404 error, followed by this error in the Console (Firefox):

    Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://api.hadolint.lukasmartinelli.ch/dockerfile. (Reason: CORS header 'Access-Control-Allow

[2016-07-10 16:48] DJviolin commented on #37
Same for me in latest Firefox, Chrome.

[2016-07-14 11:00] schoentoon opened #38 "Exposed udp ports don't work"
When I have a Dockerfile that is exposing udp ports using the `EXPOSE 53/udp` syntax I get the following error.
`"<string>" (line 18, column 12):
unexpected '/'
expecting space, "\t", "ONBUILD", "FROM", "COPY", "RUN", "WORKDIR", "ENTRYPOINT", "VOLUME", "EXPOSE", "ENV", "ARG", "USER", "LABEL", "STOPSIGNAL", "CMD", "MAINTAINER", "ADD", "#" or end of input`

[2016-08-10 11:17] dokempf opened #40 "Allow to pass a set of rules to ignore"
It would be nice if it would be possible to pass a set of rules that should be ignored by the linter. Compare to python, where pep8 is an accepted standard, but almost every project defines 2-3 well-thought-of exceptions. I cannot simply ignore the output, as I want to use hadolint in a CI system.

FWIW, the rule that I disagree with is DL3008.

[2016-08-14 19:30] pulkitsinghal opened #41 "Add new rule for `npm install`"
If a single-line or multi-line RUN with `npm install` does not have `–silent –progress=false` flahs then suggest adding them.

This is the [source](http://blog.getjaco.com/jaco-labs-nodejs-docker-missing-manual/) of this tip.

[2016-08-17 19:56] ye opened #42 "Linter output inconsistent between homebrew built command vs. Docker container command"
For some reason, the docker container's `hadolint` linter prints a `<string>` in the place of `L` as in line, as you can see below:

[code]

[2016-08-17 20:37] ye commented on #40
This is a duplicate of #24

[2016-08-17 20:50] ye commented on #24
I, too, agree with @timgriffiths that Dockerfile line comment is a better and more flexible way to ignore rules than using command line argument(s). The difference lies in the fact that you can cherry picking the local scope where certain rule(s) should be ignored while maintaining the check on other places. If we are implementing a command line argument, it's less flexible as the rule ignore will

[2016-08-17 21:52] lukasmartinelli commented on #24
I like the comment version more as well. It is a bit more tricky to implement since it is then part of the AST and it is the first time that two Dockerfile instructions would relate to each other. The `RUN` instruction would only **not** be tested against the rule if a `COMMENT` instruction one line above exists and has it disabled.

To not get lost with this I will start with a** command line ver

[2016-08-18 08:20] #40 closed

[2016-08-18 15:39] ye opened #48 "DL3013 rule pip version pinning does not catch `pip3` lines"
This is the current v1.0 version (still supports stdin). As you can see, the `pip3` line does not trigger DL3013 violation check.

[code]

As long as I changed the `pip3` to `pip`, `hadolint` will pick up that line and reports an violation.
[code]

[2016-08-18 15:48] lukasmartinelli commented on #48
Jup only looked for `pip` not `pip3` and `pip2`. Fixed in 3384c5a

[2016-08-18 15:48] #48 closed

[2016-08-18 17:44] ye commented on #24
Excited for v1.1, can't wait!

Any indicator of timeframe for v1.1 to be released @lukasmartinelli ? Without the ignore rule feature, my CI build is currently failing... :(

![screen shot 2016-08-18 at 1 41 16 pm](https://cloud.githubusercontent.com/assets/133924/17784226/b76241f4-6549-11e6-9128-ed89942c2852.png)

[2016-08-18 18:27] lukasmartinelli commented on #9
Fixed by #35.

[2016-08-18 18:27] #9 closed

[2016-08-18 18:27] #13 closed

[2016-08-18 18:27] #36 closed

[2016-08-18 18:27] #34 closed

[2016-08-18 18:27] #21 closed

[2016-08-18 18:27] #22 closed

[2016-08-18 18:28] #7 closed

[2016-08-18 18:30] lukasmartinelli opened #49 "Provide Static Binaries"
I now provide binaries on the v1.1 build.

https://github.com/lukasmartinelli/hadolint/releases/tag/v1.1

These are not entirely statically linked (oh Haskell why doesn't it work).
The binaries are built by the CI infrastructure (you can also inspect the builds and download it from there) and perhaps work on your machines?

I hope this makes it easier to install since as of now hadolint biggest pr

[2016-08-18 18:34] ye commented on #49
@lukasmartinelli I am on a Mac. I will give it a shot to test the v1.1 binary with my local git clone.

[2016-08-18 18:47] ye commented on #49
Here are the results:

 * Looking good for the ignore rule CLI param (although if we can have a single `--ignore` flag to take in all the rule codes that would be even better).
 * The version (`-v`) flag is gone, so it the version info in the help text :(
 * `--json` flag doesn't seem to work for me :(

[code]

[2016-08-18 18:53] lukasmartinelli commented on #49
Yes thanks for reviewing. Let me make a v1.2 with the fixes.

Multiple `--ignore` is better to parse. Let's leave that.

Agree, let me add the version flag back in next one - not only in help text.

`--json` will not be in the v1.1 build. I want to talk with the code climate guys to make it work for them and then merge. But I see that it is still in the help text.

[2016-08-18 18:58] ye commented on #49
Sounds good!

[2016-08-18 19:16] ye commented on #49
Btw, I've also checked out the linux binary.

In the `python:3.4-wheezy` docker image, it didn't have `GLIBC_2.14`
In the `ubuntu:14.04 ` docker image, it didn't have `libgmp.so.10`.

Yeah, a statically linked binary would have been much more compatible with other old environments.

[2016-08-18 19:26] lukasmartinelli commented on #49
Fixed the help and version.

Oh hi @ImreSamu. Yes will modify the docker image to use `hadolint -` so it works with stdin.

Ahh to bad. Then I cannot really advertise the binaries on the README. Otherwise people just get confused. But on some Debian derivates it worked?

[2016-08-18 19:39] ye commented on #49
@lukasmartinelli yes, the v1.1 linux prebuilt binary works in the newer `debian:jessie` docker image but even the latest `ubuntu:16.04` docker image still doesn't have `libgmp.so.10` :(

[2016-08-18 19:41] lukasmartinelli commented on #49
Ok so let's keep this issue until we find a solution for that. Docker, brew or source installation are fallbacks.

I added you as maintainer@ye since you already added a lot of content to the wiki (many thanks) and know a lot about hadolint.

[2016-08-18 19:42] lukasmartinelli commented on #33
BTW. most multiline commands should work in the new release. Reopen if you find something and I add a test.

[2016-08-18 19:42] #33 closed

[2016-08-18 19:52] ye commented on #49
@lukasmartinelli Thank you and accepted! Glad to help and it's my honor! Hopefully, I will pick up some Haskell along the way to be more helpful.

[2016-08-18 20:20] lukasmartinelli commented on #49
Okay new v1.2 release with these changes added. Next time I introduce an alpha release first ;)
https://github.com/lukasmartinelli/hadolint/releases/tag/v1.2

[2016-08-18 20:43] ye commented on #49
@lukasmartinelli I felt responsible for the v1.1 misses - it was partly me pushing you to do a new build in a hurry. Good thing that you have a lot of time to get the small details/bugs ironed out these two days.

[2016-08-18 21:29] ImreSamu commented on #49
thank you!
after the fresh `docker pull lukasmartinelli/hadolint`
 -->   the new version is working   :)

[Dogfooding](https://en.wikipedia.org/wiki/Eating_your_own_dog_food)  test with [hadolint/Dockerfile](https://github.com/lukasmartinelli/hadolint/blob/master/Dockerfile) :

[code]

[2016-08-18 23:20] ImreSamu opened #50 "ENV parameters separated by multiple spaces -> unexpected " " expecting "\"""
I have found a strange use case  - with formatted ENV parameters:
#### hadolint  problem

[code]
#### Dockerfile

[code]
#### Docker build - OK

[code]
#### Hadolint image hash id

[code]

[2016-08-19 00:20] ImreSamu opened #51 "rules based on Docker Official Images Guideline"
maybe it is worth to check and create a some new rules
based on Docker Official Images Guideline:  https://github.com/docker-library/official-images#review-guidelines

some example, as I know no check exists yet :
##### Security rule suggestion:

IF   [ curl / wget] command used
- via  "http://" url
- and  no  "Sha1sum / Sha256sum /  Sha512sum/ Md5sum"

THEN     security warning ~  ~"download the

[2016-08-19 15:11] ye commented on #50
It's the spacing (more than 2 white spaces between environment variable and its value) that caused that error. Below Dockerfile works just fine.

[code]

[code]

[2016-08-20 14:42] lukasmartinelli commented on #37
Up and running again. Will keep an eye on it in the future!

http://hadolint.lukasmartinelli.ch/

Actually I didn't even now where it was running ;)
Set it up again (running the docker image `lukasmartinelli/hadolint:api`. App is sometimes slow because server is tight on ressources.

[2016-08-20 14:42] #37 closed

[2016-08-22 15:54] ttres opened #53 "EXPOSE with variables doesn't work"
The Dockerfile validation fails when the ports arguments to the EXPOSE command are declared as environment variables. Take this dummy, useless code as example:

[code]

This is the output:

[code]

But the image inspection show that the correct port was exposed:

[code]

Declaring variables with the exposed ports allow for reuse inside the Dockerfile.

[2016-08-22 16:10] lukasmartinelli commented on #53
I don't support variables anywhere right now.
Perhaps I could just ad another preprocessing pipeline that replaces the env vars with the declared values.

1. Scan through file once
2. Build AST
3. Filter out ENV statements
4. Replace `$ENV` in file with `$ACTUAL_VALUE`
..
1. And then start parsing for the real thing (scan through file, build ast, do linting)

In a language parser this stuff is pro

[2016-08-22 16:13] ttres commented on #53
I understand the issue.

Your approach sounds good to me.

[2016-08-23 20:49] ye opened #54 "Dockerfile must be explicitly specified as '-' to use the stdin mode"
From the start `hadolint` has been having the same behavior where Dockerfile must be specified. And since v1.1 we introduced `-` as an alias of stdin, piping a Dockerfile to stdin for `hadolint` to process will have to specify a dash `-` to make it recognize input coming from stdin.

In order to make it more feel like a native unix utility, can we default the input file to be stdin when Dockerfile

[2016-08-23 21:13] ye opened #55 "DL3020 Use ADD to add URL resources (fetch from network instead of local copy)"
While majority of the cases `COPY` is preferred over `ADD` in Docker's best practices guide, there are two exceptions [1]:
1. tarball file (either local or remote) extraction into image during build
2. resources fetched from the network

Currently, DL3020 rule doesn't account for the case 2 where <src> is an URLs, which should not be a violation of the best practices. See below for a legitimate us

[2016-08-24 07:53] sakeven opened #56 "lint missing arguments"
ADD needs two arugmemts <src> and <dest>.
The Dockerfile validation doesn't hint it if we miss arguments.

[code]

Also other Dockerfile Instructions.

[2016-08-24 08:01] sakeven opened #57 "two forms of output"
1 .
Dockerfile:
[code]
Hint:
[code]
2 .
Dockerfile:
[code]
Hint:
[code]

Those two forms of output are difficult for us to parse and analyse.
## Can we unify output in one form? ##

[2016-08-24 15:25] ye commented on #56
@sakeven this is NOT a bug. Please refer to the official Docker documentation:
https://docs.docker.com/engine/reference/builder/#copy

Specicifcally:

[2016-08-24 18:14] ye commented on #49
Here are the dynamically linked shared libraries needed for the current prebuilt binary runtime:

[code]

After some experimentations these past few days, I was able to get `hadolint` v1.2.1 to run on a `ubuntu:16.04` base image with latest `libgmp-dev` package and its dependencies. The docker images is about 157.6 MB in size. It's probably the best effort in minimizing the docker image (I haven't

[2016-08-25 02:21] sakeven commented on #56
In docker 1.12.0, it reports `COPY requires at least two arguments`.
docker -v
[code]
[code]

docker build -t test .
[code]

[2016-08-25 02:43] sakeven commented on #56
And

It means if dir \<dest\>  doesn’t exist in the image, not argument \<dest\> doesn't exist in the Dockerfile.

[2016-08-25 15:11] ye commented on #56
@sakeven fair enough, glad that I didn't close this. Also, the docker documentation/error message is also confusing to. Should probably take it up to them as well.

[2016-08-25 15:37] sakeven commented on #56
Confusing error message may be a bug of docker. The master code of docker I read just now has fixed it.
`COPY requires at least one argument` only exists in docker v1.12.1.

[2016-09-06 06:21] backus opened #58 "Rule suggestion: Recommend `SHELL ["/bin/bash", "-c"]` instead of `RUN /bin/bash -c "..."`"
Docker 1.12 has a [`SHELL`](https://docs.docker.com/engine/reference/builder/#/shell) instruction which is much nicer than writing `/bin/bash -c "..."` everywhere

[2016-09-06 06:58] lukasmartinelli commented on #58
Wow a lot of new instructions. I thought they froze the syntax...

But shell does more. It is another instruction that modifies the subsequent instructions..
From what I read this is meant to substitute the default shell? Like switch from bash to powershell?
Probably mostly useful for windows folks.

I have to think how to deal with the new instructions and parser directives. Will probably just sk

[2016-09-06 07:03] backus commented on #58
Yeah I think that is a good first step.

From what I read this is meant to substitute the default shell? Like switch from bash to powershell?
Probably mostly useful for windows folks.

Well a more conservative rule could detect something like this and recommend `SHELL` I'm sure: https://github.com/dkubb/dockerfiles/blob/master/alpine-ruby/Dockerfile#L22

[2016-09-06 07:06] lukasmartinelli commented on #58
Oh that is a nice idea! I would implement that.

If you'd like that you can open a new issue for that and perhaps even write a wiki entry.

[2016-09-06 07:10] backus commented on #58
I could try to help out. If you would like a separate issue for this then I'll open it. I'll hold off on writing a wiki entry until there is an implementation so I don't confuse others. Right now I'm trying to build the project locally but I've only fiddled with Haskell in the past so I'm moving at a snails pace.

[2016-09-06 07:21] backus opened #59 "Recommend `SHELL` over `RUN ln -sfv /bin/bash /bin/sh`"
Extracted rule suggestion from https://github.com/lukasmartinelli/hadolint/issues/58. Basically, instead of writing

[code]

You should write

[code]

This `SHELL` instruction is new in Docker 1.12: https://docs.docker.com/engine/reference/builder/#/shell

[2016-09-06 07:22] backus commented on #58
Extracted the second `SHELL` rule proposal to #59

[2016-09-06 09:50] backus opened #62 "Support `HEALTHCHECK` instruction"
Docker 1.12 adds a `HEALTHCHECK` instruction which hadolint should probably at least support and ignore. Currently this instruction will cause a parse error

[2016-09-06 11:29] #59 closed

[2016-09-06 18:04] mydevbox opened #63 "DL3009 Not recognizing clean up in multiple RUN statements"
I ran the linter on my Dockerfile and received the DL3009 warning. After looking at the docs I found that my Dockerfile has all of the steps needed to satisfy the rule however, they occur in different RUN statements. It would be great if the linter recognized this.

`RUN  apt-get update \`
`  && DEBIAN_FRONTEND=noninteractive \`
`     apt-get install --no-install-recommends -y \`
`        build-es

[2016-09-06 19:14] lukasmartinelli commented on #63
I am not sure whether I am right, please correct me. But to my knowledge through the layered file system you don't save space like that.

You have just created a second layer that removes the bytes in the previously added layer. But that doesn't decrease the total.

[2016-09-06 21:05] mydevbox commented on #63
I just tested and the way that I have it written does NOT reduce the size of the final image but including it on the same RUN as the apt-get does. I was not aware of that and have corrected by Dockerfile. Thanks!

[2016-09-06 21:05] #63 closed

[2016-09-06 23:15] backus commented on #58
@lukasmartinelli I've added the wiki page now: https://github.com/lukasmartinelli/hadolint/wiki/DL4005

On an unrelated note: do you think this issue should be closed now? I'm not clear on what further rules you'd like to add for `SHELL`

[2016-09-07 03:55] backus opened #64 "Rule suggestion: Recommend `ADD [some_url]` over `RUN wget [some_url]`"
I didn't realize that `ADD` supports URLs and, by moving my `RUN wget` usage to `ADD` instructions, I was able to drop `wget` as a dependency

[2016-09-07 03:58] backus commented on #64
Same for `curl` of course

[2016-09-07 06:07] #58 closed

[2016-09-07 06:12] lukasmartinelli commented on #64
I am not sure about this. Docker thinks it is ok: https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/

You should not add an archived file via `ADD` from a remote url because then it doesn't unpack it and you keep the artifact. For non archived file `ADD` might be still good replacement for wget?

So if we implement a rule like this it should only apply to **non-archives*

[2016-09-07 08:34] #62 closed

[2016-09-07 13:54] ye commented on #64
I think this is covered in #55

[2016-09-07 14:40] lukasmartinelli commented on #64
I experienced something like that when downloading files with ADD and curl/wget.

`ADD` only supports archive when using it locally. `ADD lala.gz` will store the contents of `lala.gz`. When you download `ADD http://lala.gz` it will store the `lala.gz` and not the unpacked files.

[2016-09-07 16:09] ye commented on #64
@lukasmartinelli ok you are right :)

[2016-09-23 19:19] adamdecaf opened #67 "pip version pin false positive"
I think I'm running into a false positive. I found the [original issue](https://github.com/lukasmartinelli/hadolint/issues/36) and [PR](https://github.com/lukasmartinelli/hadolint/pull/46) that fixed this, but I think there's one more corner case.

Here's my Dockerfile:

[code]

I've tried running with quotes around the package and version e.g. `"whisper==$GRAPHITE_VERSION"` and removing the hyphe

[2016-09-24 12:39] #57 closed

[2016-09-30 15:10] j3p0uk opened #68 "DL3020 Use COPY instead of ADD for files and folders: False Positive"
When extracting a compressed tar file with .tgz suffix, falsely identifies as requiring COPY instead.
:3 DL3020 Use COPY instead of ADD for files and folders

Need to add all suffixes from Wikipedia Tar Suffixes

Git sha1: 22e1eef5815e1e970c2b488998266505fe5d300b

[2016-10-04 22:19] r4j4h opened #70 "Question re: DL3003 Use WORKDIR to switch to a directory."
I have a Dockerfile where I need to manually install some software using a command like this:

[code]

Is the suggestion really to turn that into

[code]

While arguably more readable, that more than doubles the amount of layers created. So I just wanted to see what your thoughts were on commands like these. :)

[2016-10-05 06:17] lukasmartinelli commented on #70
Sometimes you don't get around a `cd`. But most commands actually support absolute paths ( so often times you don't need `cd`).
And when you do, you can use `cd` in a subshell so at least the context is only for that command.

[code]

However, generally this is a rule with too many false negatives. It should more be a hint.
And I myself also fall back frequently to the pattern you showed above.

[2016-10-05 21:54] r4j4h commented on #70
Thanks for the quick feedback! I do think it is a helpful rule/hint to have.

I will implement the subshell suggestion as that seems very useful!

[2016-10-20 16:17] ttres opened #71 "MAINTAINER is deprecated. LABEL is recommended instead"
The `MAINTAINER` command [will be deprecated](https://github.com/docker/docker/blob/master/docs/deprecated.md#maintainer-in-dockerfile).

The existence, instead of the inexistence, should be an error.

[2016-11-01 14:37] agounaris commented on #67
I've saw this bug and its similar to what I've faced today.. which should be valid

<img width="836" alt="screen shot 2016-11-01 at 14 35 44" src="https://cloud.githubusercontent.com/assets/1845809/19893299/a66c61ea-a040-11e6-8796-dcc392a70e15.png">

[2016-12-09 15:16] ilovezfs opened #72 "Build failure with ShellCheck 0.4.5"
Full build log: https://gist.github.com/ilovezfs/f2d2abca49f505d58314188bb306b7a3

The problem does not occur with ShellCheck 0.4.4.

The error is

[code]

(Also, side note: looks like the version wasn't bumped for 1.2.2)

[2016-12-21 11:27] Surgo commented on #67
Also fail `RUN pip install --upgrade pip==x.x.x`

[2016-12-29 10:52] lonix opened #73 "Feature Request: Checkstyle"
It would be great if you could produce checkstyle formated output. it would make this tool way better to intigrate into Jenkins e.g. and my full workflow.

[2016-12-29 10:53] lonix opened #74 "Premissive mode"
Posible to add a permissive mode, as in Prints the error but exit 0 anyway, usefull for CI intigration.

[2016-12-30 11:09] sweetclimusic commented on #7
I have looked at all the closed issues relating to this e.g. issue( #33, #27).  However I have experienced this error using the latest docker image

( powershell ) Get-Content .\Dockerfile | docker run --rm -i lukasmartinelli/hadolint:latest
Note. Windows powershell < is not allowed so you have to get the file contents and | pipe to the docker command. might want to add that in the readme on how t

[2017-01-04 16:28] dhoer opened #75 "http://hadolint.lukasmartinelli.ch/ not working"
Clicking on Lint button doesn't seem to do anything.

macOS v10.12.2
Chrome v55.0.2883.95 (64-bit)

[2017-01-19 08:39] EvgenyOrekhov commented on #71
It is already deprecated in Docker 1.13.0.

[2017-02-01 10:13] dnwe opened #76 "Linter doesn't handle comments within the `RUN` shell block"
Having comments with a `RUN` block are perfectly valid shell, and `docker build` handles them without issue.

e.g., (contrived example)
[code]

[code]

However, hadolint currently fails to handle them:
[code]

Unless you strip them out with sed:
[code]

[2017-02-08 13:51] xinity opened #77 "MAINTAINER DEPRECATED in docker 1.13"
MAINTAINER is deprecated and replaced by LABEL in docker 1.13+

could be a good idea to update hadolint :)

[2017-02-08 19:31] backus commented on #77
I think this is a dupe of https://github.com/lukasmartinelli/hadolint/issues/71. Closing in favor of that issue

[2017-02-08 19:31] #77 closed

[2017-02-17 09:03] lukasmartinelli commented on #24
@ye Sorry never followed up - this should be included in the latest releases
https://github.com/lukasmartinelli/hadolint/releases

[2017-02-17 09:03] #24 closed

[2017-02-17 09:09] lukasmartinelli commented on #71
@ttres @EvgenyOrekhov
I changed the rule `DL4000` in the Wiki https://github.com/lukasmartinelli/hadolint/wiki/DL4000
and the code 9b0ba8bc529e0b205ba3c622d93c227044ababbb

Also deprecated the maintainer address rule https://github.com/lukasmartinelli/hadolint/wiki/DL3012
and in code 73d6f2fa5dde210499df437cac44df7cd4b67328

[2017-02-17 09:09] #71 closed

[2017-02-17 09:28] lukasmartinelli commented on #72
I bumped the shellcheck version to 1.4.4 8d1717b.
You were building with cabal right?

It should work with `stack build` and `stack install` which isolates dependencies - instead of just talking whats on the system.

[2017-02-17 09:29] #14 closed

[2017-02-17 09:30] lukasmartinelli commented on #74
In such cases I usually execute something like `hadolint || true` - if you have access to bash.
Does that help?

[2017-02-17 09:31] #70 closed

[2017-02-17 09:32] lukasmartinelli commented on #68
tgz should be supported though: https://github.com/lukasmartinelli/hadolint/blob/master/src/Hadolint/Rules.hs#L279

[2017-02-17 09:33] lonix commented on #74
I Do use that, but i consider that a workaround.

one could also consider haveing a score based system, before exit 1.

[2017-02-17 09:51] lukasmartinelli commented on #56
Fixed it for `EXPOSE` 52b75d41e1424d1d4330ec86f2bca88f354f198a and `COPY` 85789f3da60223c64a94f622c055e7861b596de0.
@sakeven @ye Any more instructions?

[2017-02-17 09:55] lukasmartinelli commented on #74
So actually it is more about allowing certain errors - not the exit code.
You can exclude rules.

[code]

How do UNIX programs usually handle that and what are their standard flags for that?
`-fpermissive` ?

[2017-02-17 10:29] j3p0uk commented on #68
Hmm, that is strange.  I will retest to verify behaviour.  Closing this PR and will open a new one if I see it again.

[2017-02-17 10:29] #68 closed

[2017-02-20 19:28] ye commented on #56
Thanks @lukasmartinelli this is probably it, as far as I am aware.

[2017-02-20 21:05] #56 closed

[2017-03-02 11:21] daashayani opened #78 "when i am trying to build hadolint getting this issue"
[root@dockerdst hadolint]# stack build
hadolint-1.2.1.0: build (lib + exe)
Preprocessing library hadolint-1.2.1.0...
Cabal-simple_mPHDZzAJ_1.22.5.0_ghc-7.10.3: can't find source for
Hadolint/Rules in src,
.stack-work/dist/x86_64-linux/Cabal-1.22.5.0/build/autogen

--  While building package hadolint-1.2.1.0 using:
      /root/.stack/setup-exe-cache/x86_64-linux/Cabal-simple_mPHDZzAJ_1.22.5.0_ghc-7

[2017-04-05 10:22] Yanfeng-Wang opened #80 "RULE SUGGESTION：Don‘t chmod/chown in a single line"
Problematic code:
`COPY ./cmd /home/test/`
`RUN chown test:test /home/test/cmd`
`RUN chmod a+x /home/test/cmd`

You should chmod/chown `cmd` in your host ,
or do it in your entrypoint.sh

[2017-04-11 16:00] mrowa44 opened #81 "DL4000: Change "MAINTAINER" (deprecated) to "LABEL maintainer""
Docker deprecated the "MAINTAINER " instruction in favor of "LABEL maintainer ".

[2017-04-11 17:18] mrowa44 commented on #81
Oops, yes, I didn't notice that.

[2017-04-11 17:18] #81 closed

[2017-04-18 15:24] vergenzt commented on #76
Yeah came here to post the same issue:

[code]
[code]
[code]
[code]

[2017-04-26 06:14] bkowshik opened #82 "Display a count of issues in the Dockerfile"
I am 🤔 if displaying a count of issues at the top will be helpful. Ex:

<img width="1008" alt="screen shot 2017-04-26 at 11 42 01 am" src="https://cloud.githubusercontent.com/assets/2899501/25420355/6a62eb82-2a75-11e7-9611-3d5ab93af5a4.png">

## Workflow
- You have 6 issues with your Dockerfile.
- I go back, iterate on one of the issues and paste back the new Dockerfile.
- You have 5 issues with y

[2017-05-06 22:16] JonathanDoughty commented on #55
And I'd add that ADDing a file that ends in an archive extension, especially a compressed archive, suggests the user wants that archive expanded - since it will be anyway - and thus is depending on case 1 where ADD is preferred to COPY followed by a `RUN tar xjf xxx`or something; where you would end up making the image larger than it needs to be.

[2017-05-22 18:21] PaulHaldane opened #84 "DL4003 first or last CMD used"
The text associated with DL4003 is ...

However https://docs.docker.com/engine/reference/builder/#cmd says ...

I think that the hadolint logic is correct (and alerts users to the important thing - multiple CMD lines won't be run). Just needs the explanation adjusting to match the dockerfile documentation.

[2017-06-08 14:39] pakraticus opened #85 "DL3006 on scratch image."
Expect no warning on typical docker multi-stage use case

[code]

Instead receive warning `DL3006 Always tag the version of an image explicitly` against the `FROM scratch` line.
Cannot use `scratch:0` as scratch is a reserved internal name.

Note this also provides a false warning some base image Docker files with

[code]

[2017-06-13 22:36] simonwydooghe opened #86 "1.2.2 --version output wrong"
Minor 'issue'. I checked out v1.2.2 and built that tag. This is the --version output:
[code]

[2017-06-18 15:20] hyperknot commented on #75
I can confirm this.

[code]

[2017-06-19 14:01] ilovezfs commented on #72
@lukasmartinelli yes cabal, not stack.

In Homebrew we build with cabal install in a cabal sandbox. So the issue here, apart from continued incompatibility with ShellCheck 0.4.5 (and now 0.4.6), is that the `hadolint.cabal` file isn't specifying that it needs ShellCheck < 0.4.5.

[2017-07-05 11:26] SoftwareCraftsman opened #87 "ShellCheck SC2154 on build ARG"
[code]
Is raising a SC2154 http_proxy is referenced but not assigned. While this is appropriate if just looking at the shell script snippet. In the context of a Dockerfile this seems a bit too aggressive. Build time arguments will almost 100% be set outside.
Maybe it would be helpful to ignore such checks for variables declared as build arguments

[2017-07-17 06:57] Spindel opened #88 "DL3013 -- pip versioning -- warning about local installation"
The stanza `pip install .` or `pip install '.[testing]'`  are done inside an unpacked source code to install all the dependencies / software via setup.py  (rather than doing `python setup.py install`)

When the argument to `pip install` is a directory (`.`)  it _is_ strictly versioned, as you may assume that we know who added the source into the container.

[2017-08-10 04:35] tdmalone opened #90 "Problems getting non-zero exit code on lint fail"
Hi there,

I'm not sure if I'm doing this wrong, but I'm always getting a 0 exit code when running via Docker:

[code]

The Dockerfile I'm testing there just says 'invalid' on the first line, which is correctly generating an error, but is still exiting with 0.

To try to work out if the issue was with Hadolint or with Docker, I tried getting the exit code while inside the container:
[code]
still e

[2017-08-16 14:39] kidbrax opened #91 "how do you use ignore when running through docker"
I've tried several variations but can't seem to get it to work in a one-liner.

[2017-08-16 15:31] kidbrax commented on #91
this works:
`docker run --rm -i lukasmartinelli/hadolint hadolint --ignore DL3008 - < database/Dockerfile`

[2017-08-16 15:31] #91 closed

[2017-09-11 01:41] yukiisbored opened #93 "MAINTAINER is deprecated"
It looks like [DL4000](https://github.com/lukasmartinelli/hadolint/wiki/DL4000) is conflicting with the latest Dockerfile reference which states [`MAINTAINER` is deprecated](https://docs.docker.com/engine/reference/builder/#maintainer-deprecated).

I think DL4000 behavior needs to be changed to ensure `MAINTAINER` is not used and replace it with `LABEL maintainer=`.

[2017-09-23 07:00] DevOps575 opened #94 "Need rule to exclude syntax"
Hi,

I am having a Dockerfile instruction LABEL with below values:
LABEL com.abc.image.name='xyz'\
com.abc.image.tag='latest'

but when I run the command: hadolint Dockerfile I get the below error:

unexpected '='
expecting space, "\t", "ONBUILD", "FROM", "COPY", "RUN", "WORKDIR", "ENTRYPOINT", "VOLUME", "EXPOSE", "ENV", "ARG", "USER", "LABEL", "STOPSIGNAL", "CMD", "MAINTAINER", "ADD", "#" or end

[2017-09-25 16:22] matteocng commented on #93
hi @yukiisbored, I've noticed this issue too by using the`Docker` image (latest successful build: 2016-09-30, before [the fix](https://github.com/lukasmartinelli/hadolint/commit/73d6f2fa5dde210499df437cac44df7cd4b67328)). This was fixed in #71 and works (`Dockerfile DL4000 MAINTAINER is deprecated`) when building `hadolint` locally,  installing it with `brew` or downloading the release binary from

[2017-09-27 00:34] yukiisbored commented on #93
@matteocng ah, yeah I was using the docker image to use it. I think it's preferable to build the docker image with Travis to keep it up to date since right now it's lacking behind.

[2017-09-27 12:45] AlexandreCarlton opened #95 "Exit with failure if Dockerfile is malformed"
Currently hadolint calls `exitFailure` if it finds warnings, but `exitSuccess` if the Dockerfile itself isn't parsed correctly. This should result in a failure to prevent the user (or calling script) from proceeding with a build.

Furthermore, if hadolint is misused (for example, no Dockerfile is provided), it should also exit with status 1 to provide better feedback.

[2017-10-01 06:22] sobolevn commented on #93
Installed it with `brew`.

[code]

I have an explicit label in my `Dockerfile`:

[code]

But it results in error:

[code]

[2017-10-02 17:40] StevenACoffman commented on #53
Is there a pull request where this work is being done?

[2017-10-28 19:19] zemanlx commented on #94
@DevOps575 If you want to set more labels in one `LABEL` you need to use backslash `\` at the end of  continuing line
[code]
With backslash at the end of continuing line
[code]
More details in [LABEL best practicies](https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#label).

[2017-10-31 21:33] zemanlx commented on #67
@Surgo Why do you want to use `--upgrade` when you are pinning version?

[2017-10-31 22:44] zemanlx commented on #67
@adamdecaf I've just checked your issue and I think that your problem is not version is ENV, but that your
[code]

to get it accepted you need to write it in following form
[code]

[2017-10-31 22:47] zemanlx commented on #67
And to add to all requests, I would like to use `--user` with `pip` to be able to install package to a user folder.

[2017-11-01 14:06] adamdecaf commented on #67
@zemanlx Ah, many thanks!

[2017-11-01 16:50] zemanlx commented on #76
@dnwe @vergenzt you can solve it by escaping newline for comment and you are good to go or at least it works for me.

From

[code]

to

[code]

[2017-11-01 17:06] zemanlx commented on #85
@pakraticus this issue has been fixed a year ago in https://github.com/lukasmartinelli/hadolint/commit/f951912765abe12e70372a56fde568c5e252febc. What version do you use?

[2017-11-02 04:40] Surgo commented on #67
@zemanlx oooops... thank you for your advice!

[2017-11-02 14:25] zemanlx commented on #90
@tdmalone I believe your issue has been solved by @AlexandreCarlton  in https://github.com/lukasmartinelli/hadolint/pull/96. There is also new `latest` Docker image for hadolint that includes that fix. If you still have old image this will run it in _new_ image
[code]
If yo still have that issue, can you please post your `Dockerfile` that is causing this?

[2017-11-02 20:26] #95 closed

[2017-11-02 20:33] zemanlx commented on #86
@simonwydooghe fixed by #97. If you build it now from master you should see something like this

[code]

[2017-11-02 20:33] #86 closed

[2017-11-02 20:38] zemanlx commented on #72
@ilovezfs I believe that your issues (new ShellCheck and version in `hadolint.cabal`) are now solved by #97. If that is not true, please let me know.

[2017-11-02 20:38] #72 closed

[2017-11-02 22:33] zemanlx commented on #26
@r4j4h just tested it on the master branch build and it is fixed.

[code]

[2017-11-02 22:33] #26 closed

[2017-11-03 08:59] #94 closed

[2017-11-04 00:04] jgonera opened #103 "hadolint.lukasmartinelli.ch doesn't work"
Nothing happens when I click on Lint, both in latest Chrome and latest Firefox.

[2017-11-04 12:33] simonwydooghe commented on #86
@zemanlx Cheers, thanks.

[2017-11-05 20:11] zemanlx commented on #67
Both options are now supported in `latest` Docker image

[code]

Dockerfile.67
[code]

Analyzed with no errors
[code]

[2017-11-05 20:11] #67 closed

[2017-11-05 20:42] zemanlx commented on #93
@sobolevn @yukiisbored @matteocng I have tested it now with build from the master branch and it works. Can you please retest, if it is fixed for you and let me know?

Docker image is automatic build in Docker Hub, `lukasmartinelli/hadolint:lastest` is image of current commit in `master` branch.

Not sure how it works with `brew` as I do not have Mac.

This is my test of `maintainer`:

[code]

Old

[2017-11-05 20:44] zemanlx commented on #103
Duplicate of #75. I hope that @lukasmartinelli will fix it soon.

[2017-11-05 20:49] zemanlx commented on #78
@daashayani Can you give me more information?

BTW You can look at our [Dockerfile](https://github.com/lukasmartinelli/hadolint/blob/master/Dockerfile) how to build hadolint from scratch on Linux.

[2017-11-05 20:57] zemanlx commented on #42
@ye I believe that this is no longer an issue as hadolint output is now `filename:line_number` or `/dev/stdin:line_number message`. Can we close this bug?

[2017-11-05 20:59] zemanlx commented on #49
@lukasmartinelli Can we close this issue now?

[2017-11-06 08:29] shakiyam opened #104 "Releases v1.2.2 on release page does not include an executable file"
Releases v1.2.2 on release page does not include an executable file. It is very helpful to have compiled executable files as well as source code.

[2017-11-06 17:48] jgonera commented on #75
Oops, sorry. I skimmed through issues too hastily.

[2017-11-06 17:48] jgonera commented on #103
Oops, sorry. I skimmed through issues too hastily.

[2017-11-06 17:48] #103 closed

[2017-11-06 22:14] zemanlx opened #105 "Version in docker image is only git short SHA"
Version in docker image `lukasmartinelli/hadolint:latest` is only git short SHA

[code]

Expected behaviour
[code]

[2017-11-07 09:38] jmatsushita opened #107 "API site is down"
Hi there,

It seems that I can't reach the API backend:

![image](https://user-images.githubusercontent.com/356097/32486704-bd9981dc-c3a7-11e7-8c80-dabf744f0e50.png)

Cheers,

Jun

[2017-11-07 14:58] #105 closed

[2017-11-07 22:32] zemanlx opened #108 "DL3007 is not enforced with named image"
[code]
Current master build will pass without error about using `latest` image

https://github.com/lukasmartinelli/hadolint/wiki/DL3007

[2017-11-07 22:36] zemanlx opened #109 "DL3002 will pass if root is defined with UID of with group"
[code]

Current master build pass and should fail as all of them try to use `root` user.
https://github.com/lukasmartinelli/hadolint/wiki/DL3002

[2017-11-08 08:29] yukiisbored commented on #93
@zemanlx Okay it works now^^

[code]

[2017-11-08 22:24] #93 closed

[2017-11-10 16:52] zemanlx commented on #78
No response, closing.

[2017-11-10 16:52] #78 closed

[2017-11-10 16:52] zemanlx commented on #85
No response, closing.

[2017-11-10 16:52] #85 closed

[2017-11-10 16:52] zemanlx commented on #90
No response, closing.

[2017-11-10 16:52] #90 closed

[2017-11-10 16:53] zemanlx commented on #42
No response, closing.

[2017-11-10 16:53] #42 closed

[2017-11-11 00:17] tdmalone commented on #90
@zemanlx Oops sorry, I missed your response. Thanks for getting back to me. I ended up working around the issue by checking for output and failing if I received any, which worked for my case.

I will review it at a later date and remove that workaround if it's now a-ok.

Thanks again!

[2017-11-14 14:31] andersla opened #115 "pip install --no-cache-dir gives error on rule DL3013"
If using the flag `--no-cache-dir` as: `pip install --no-cache-dir`  I get lint issue: DL3013 Pin versions in pip. Instead of `pip install <package>` use `pip install <package>==<version>`

[2017-11-15 15:21] aw-was-here commented on #74
It would be better to be able to exclude rules on a per-line basis, similar to how shellcheck does it.

[2017-11-19 15:31] zemanlx commented on #88
I did a bit of research in this and looks like that safe option should be `pip install --no-deps .` according to [pip docs](https://pip.pypa.io/en/stable/reference/pip_install/#hash-checking-mode) (see below).
So I expect that in Docker, you would install dependencies from requirements file of by listing it in `pip install` and then by `pip install --no-deps .`. What do you think @Spindel?

---
Be

[2017-11-19 15:39] prog1dev opened #118 "Use config file to ignore specific rules"
Would be nice to have config file like `.hadolintrc` to disable specific rules check
Most linters have this feature

[2017-11-23 13:45] lorenzo opened #119 "Offer the parser as a separate package"
Would you be interested in offering a separate package with a parser and a pretty printer for the Dockerfile?

I've been working on this [separate parser package ](https://github.com/lorenzo/haskell-language-dockerfile) lately, and I think it would make great sense if we cooperated.

I can do any extra work you consider necessary to help this project transition in that direction.

[2017-11-24 13:41] zemanlx commented on #119
@lorenzo Thanks for your interest!

To be honest I do not know what does it mean for hadolint? Can you give us some examples what we can get from using your package in examples, please? I am not really Haskell developer so the information in the package README is a bit cryptic for me.

[2017-11-24 13:43] #108 closed

[2017-11-24 14:35] #109 closed

[2017-11-24 14:52] #84 closed

[2017-11-24 15:36] zemanlx commented on #104
Binaries are now uploaded to [release](https://github.com/lukasmartinelli/hadolint/releases/tag/v1.2.2).

[2017-11-24 15:36] #104 closed

[2017-11-24 15:37] #3 closed

[2017-11-24 16:00] #115 closed

[2017-11-24 19:09] #49 closed

[2017-11-25 11:03] lorenzo commented on #119
Hi @zemanlx thanks for your response.

This does not mean too much for hadolint, but it would mean a great deal for the Haskell ecosystem. There are many other tools that can benefit from having a Dockerfile parser package available, without having to pull all the hadolint dependencies. One example of such tools is this one: https://github.com/seatgeek/docker-build-cacher

I'm opening this ticket,

[2017-11-27 16:46] zemanlx commented on #119
@lorenzo in general, that sounds like a good idea. I would love not to do things twice, but I am just bit worried about speed that you can support upstream repo [beijaflor-io/haskell-language-dockerfile](https://github.com/beijaflor-io/haskell-language-dockerfile/commits/master.)

I see that you just picked it up recently and I do not see any support for _new_ things in `Dockerfile` format like mu

[2017-11-27 17:13] lorenzo commented on #119
In case the upstream maintainer does not respond, I would create a separate repo. I also plan to give hadolint maintainers full access to the repo, even ownership is preferred,  so we can all collaborate in keeping things up to date.

You are right in that the forked order has no new things added, I actually just brought it up to date with the latest changes in hadolint, this is just a starting po

[2017-11-27 23:53] lukasmartinelli commented on #119
Would it help to create an organization for hadolint and split out the repositories?

/cc @lorenzo @zemanlx

Also reflects the ownership better.

[2017-11-28 01:55] lukasmartinelli opened #120 "Moving to new org logicstics"
I moved hadolint under it's own org and gave admin rights to y'all.
This will help making shared ownership more transparent and help implementing things like #119.

Y'all should have all the powers to deal with the organization.
I need to figure out whether moving the repository broke anything.

<img width="473" alt="people_ _haskell_dockerfile_linter" src="https://user-images.githubusercontent.co

[2017-11-28 08:30] zemanlx commented on #120
@lukasmartinelli I think that is a great step forward. Can you also move Docker Hub `lukasmartinelli/hadolint` into organisation `hadolint`?

[2017-11-28 09:37] zemanlx commented on #119
@lukasmartinelli @lorenzo should we try to get beijaflor-io/haskell-language-dockerfile into this org or fork it? I believe that it should point to [hackage/language-dockerfile](https://hackage.haskell.org/package/language-dockerfile) to be useful for Haskell community or is it reasonable to create another package @lorenzo?

[2017-11-28 13:42] lorenzo commented on #119
I’ll try to reach to the author and see if he is willing to join. I tried sending a pull request already and seems unresponsive, but I’ll try now more direct messages.

Thanks for moving fast with this!

[2017-11-28 16:57] lukasmartinelli commented on #120
Should have gotten access. I need the user names to add access to the dockerhub org who need it.

<img width="1052" alt="docker_hub" src="https://user-images.githubusercontent.com/1288339/33332425-3da4fd62-d432-11e7-9363-39ecc7965a73.png">

<img width="1037" alt="hadolint_hadolint_-_docker_hub" src="https://user-images.githubusercontent.com/1288339/33332852-54d84ff6-d433-11e7-8167-ff7aa8041a72.png

[2017-11-28 22:17] zemanlx opened #121 "Reflect use of new hadolint organisation"
* [ ] This is a bug report
* [x] This is a feature request
* [x] I searched existing issues before opening this one

1. Codebase
    - find and replace mostly as a result of [search](https://github.com/hadolint/hadolint/search?utf8=%E2%9C%93&q=%22lukasmartinelli%2Fhadolint%22&type=)
2. Docker Hub
    - there should be also versioned image of hadolint (for each following release)
    - make README

[2017-11-29 19:11] zemanlx commented on #121
@lukasmartinelli I will need your help with 3. as you are the owner of the organisation. I have already requested access for Travis and you probably need to add me to AppVeyor to the hadolint organisation.

[2017-11-29 23:37] lukasmartinelli commented on #121
I changed everyone to owner so now u should have access.

So https://ci.appveyor.com/project/lukasmartinelli/hadolint now uses hadolint/hadolint as source.
I don't know whether you meant creating orgs on travis and appveyor (is that possible?).

[2017-11-29 23:49] zemanlx commented on #121
Thank you @lukasmartinelli!

- Travis is easy as it is syncing with GitHub so that one is up and running at https://travis-ci.org/hadolint/hadolint
- AppVeyor is a tricky one - I had to create an account and then rename it to hadolint. They have feature _teams_ which can sync GitHub teams with AppVeyor so I have created team _Appveyor Admins_ where I have added just you and me. and anybody else ca

[2017-12-01 15:37] lorenzo commented on #119
I contacted the original creator of the separate parser package but haven't received any answer so far. Will give it a few more days before continuing without him

[2017-12-03 19:21] #121 closed

[2017-12-05 20:21] zemanlx opened #126 "Update brew formula to use v1.2.3 of `hadolint`."
- [x] This is a feature request
- [x] I searched existing issues before opening this one

Update brew [formula](http://formulae.brew.sh/formula/hadolint) to use v1.2.3 of `hadolint`.

[2017-12-05 21:14] ilovezfs commented on #126
voilà https://github.com/Homebrew/homebrew-core/pull/21365

[2017-12-06 08:07] zemanlx commented on #126
https://github.com/Homebrew/homebrew-core/pull/21365 merged.

[2017-12-06 08:07] #126 closed

[2017-12-06 09:35] zemanlx commented on #120
I believe all is set up.

[2017-12-06 09:35] #120 closed

[2017-12-06 15:59] #50 closed

[2017-12-11 15:06] zemanlx commented on #119
@lorenzo How long do you want to wait?

[2017-12-11 15:18] lorenzo commented on #119
I'll do it this week, probably tomorrow. Since the original author did not respond I will have to choose a different namespace for the modules and also a different package name.

The current package name is `language-dockerfile`, my suggestion is `language-docker` Is that sensible?

[2017-12-11 19:35] zemanlx commented on #119
:+1: for `language-docker`

[2017-12-11 20:28] timbru31 opened #131 "False positive of DL3014 when -qqy option is supplied"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

DL3014 enforces to pass the --assume-yes option to apt-get, but when using it together with the quiet option, it produces a false positive (IMHO).

### Actual behavior

DL3014 should not be marked as an error when apt-get is e.g. called via -qy or -qqy (or vic

[2017-12-11 20:46] timbru31 opened #132 "Support for Alpine's apk tool"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

Personally I prefer to stick to the much smaller alpine tags of any Docker image that supports it. The underlying [Alpine distro](https://alpinelinux.org/) uses it's own package manager, called [apk](https://wiki.alpinelinux.org/wiki/Alpine_Linux_package_manag

[2017-12-12 09:45] zemanlx commented on #132
@timbru31 I have started working on it yesterday :smile:

In your example, you use `update` and `upgrade` that I want to ban like we are doing it for `apt-get` in [DL3005](https://github.com/hadolint/hadolint/wiki/DL3005) and suggest use `--no-cache`.

What is your use case for `apk update && apk upgrade`?

[2017-12-12 10:45] harshit22394 commented on #132
Hi @zemanlx ....i am facing the same --version issue

⇒  hadolint --version
Haskell Dockerfile Linter UNKNOWN

Can you let us know by what time we can have the issue fixed. Since the hadolint linter on sublime is not working because of this issue.

[2017-12-12 10:53] zemanlx commented on #132
@harshit22394 Can you please raise a separate issue for that?

[2017-12-12 10:59] harshit22394 commented on #132
sure

[2017-12-12 11:00] harshit22394 opened #133 "Hadolint --version not working for 1.2.3"
Hi @zemanlx  Getting the below output for --version flag

⇒  hadolint --version
Haskell Dockerfile Linter UNKNOWN

Can you please let me know by what time this issue can be resolved since its blocking the sublime linter plugin.

[2017-12-12 11:07] zemanlx commented on #131
@timbru31 we do not support using multiple options behind one `-`. If you split them to `-q -y` it should work.
You can find accepted options in `apt-get install` [here](https://github.com/hadolint/hadolint/blob/master/src/Hadolint/Rules.hs#L216).

Maybe it can be useful to add `-qq` as an alternative to `-y`. But it looks like that it has its downsides. Why do you `-qq` in builds?

from `man apt-

[2017-12-12 22:20] lorenzo commented on #119
I created https://github.com/hadolint/language-docker

[2017-12-13 08:37] #133 closed

[2017-12-13 10:34] lorenzo commented on #119
This was done, closing

[2017-12-13 10:34] #119 closed

[2017-12-14 12:55] timbru31 commented on #131
Hi @zemanlx ,

I'm aware that I can split up the options into multiple, but wanted to report that combining them is producing a false positive.

I guess we use `-qq` to have a smaller log file, but honestly I can't remember exactly why.
Thanks for the hint that it implies `-y`, too.

[2017-12-14 13:00] timbru31 commented on #132
Only use case I can imagine is updating the underlying OS to e.g. fix a CVE. Nevertheless the same as for apt-get applies. (maintainer should update the image)

Great news, I already saw the PR 🎉

[2017-12-14 20:56] zemanlx commented on #76
@lorenzo I believe we should solve this in the parser as they are `dockerfile` comments and not `shell` comments. What do you think?

[2017-12-14 22:58] #131 closed

[2017-12-15 06:49] #29 closed

[2017-12-15 08:59] #132 closed

[2017-12-18 14:34] jmatsushita opened #142 "unexpected '0' expecting space"
### Expected behavior

Better error message about mismatched quoting symbols (The first key in the example opens with a double quote and ends with a simple quote).

### Actual behavior

[code]

**Dockerfile** (if relevant)

[code]

[2017-12-18 16:23] ilovezfs opened #143 "Build failure with ShellCheck 0.4.7"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

A successful hadolint 1.2.4 build with ShellCheck 0.4.7.

### Actual behavior

A failed build.

### Steps to reproduce the behavior

brew pull https://github.com/Homebrew/homebrew-core/pull/21831
brew install -dvs hadolint

Full build log: https://gist.github.

[2017-12-18 16:25] ilovezfs commented on #143
Incidentally it's strange it's saying
[code]

[2017-12-18 16:28] ilovezfs commented on #143
Ah I see it was retagged since then.

[2017-12-18 16:54] zemanlx commented on #143
@ilovezfs yes, sorry for retag, did not know that you have a hook there.

[2017-12-18 17:11] ilovezfs commented on #143
@zemanlx no worries. I'm just glad we caught it before shipping :)

[2017-12-18 18:09] zemanlx commented on #142
@lorenzo would you mind to take care of this in `language-docker`?  AFAIK hadolint is showing whatever message it gets from parser at this stage.

[2017-12-18 22:51] lorenzo commented on #142
The parser for label is completely wrong, I was planning to re-implement it. Not sure if doing that will actually improve the error messages, though.

[2017-12-18 22:54] #143 closed

[2018-01-01 18:59] lorenzo commented on #80
This should actually be suggesting to do `COPY --chown=test:test`

[2018-01-02 17:16] stefan2904 commented on #107
Using Firefox 57 I get:

[code]

[2018-01-02 18:42] lukasmartinelli commented on #107
I shut down the server for the API site.

[2018-01-03 01:20] Yivan opened #146 "[Bug] Break on comments inside dockerfile"
Hello

Thanks for this great tools and sharing it with us.

It seems to have problem with comment inside multiline apt-get.
If you try to validate this dockerfile (official mariadb):
https://raw.githubusercontent.com/docker-library/mariadb/506cd7c6b9d6c53d7b514a2c94db5d3daee832fd/10.3/Dockerfile

You will see hadolint cannot parse it and breaks.
Maybe comments should be automaticaly stripped out b

[2018-01-03 14:07] zemanlx commented on #146
Thank you @Yivan for reporting, we know that it is an issue. @lorenzo has done a great progress in our parser [language-docker](https://github.com/hadolint/language-docker) which is used in _hadolint_ and did a release today. I believe this issue disappear as soon as we use `language-docker-2.0.0`

@lorenzo do you plan to make a PR for that?

[2018-01-03 16:34] lorenzo commented on #146
@zemanlx I tagged 2.0 today, will try sending a PR to this repo with the upgrade soon

[2018-01-03 17:13] lorenzo commented on #64
I'm closing this as the suggestion is discouraged by the docker docs

[2018-01-03 17:13] #64 closed

[2018-01-04 17:01] #38 closed

[2018-01-04 17:01] #53 closed

[2018-01-04 17:01] #76 closed

[2018-01-04 17:01] #146 closed

[2018-01-04 22:09] lorenzo commented on #142
This is in practical terms, a issue that is not possible to solve since this is actually valid

[code]
I'm closing since improving the error message in this case is not something we can solve in a sane way.

[2018-01-04 22:09] #142 closed

[2018-01-05 12:22] Yivan commented on #146
Thank you for you fast fix! All work nice now.

[2018-01-09 08:41] #118 closed

[2018-01-15 14:18] ferrarimarco opened #150 "Tag hadolint docker image"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
Each hadolint release should produce a tagged image. Docker Hub can be configured to build such images automatically on each commit and each tag, as you know.

### Actual behavior

Docker images are not tagged. See https://hub.docker.com/r/lukasmartinelli/hadol

[2018-01-15 15:39] lorenzo commented on #150
@lukasmartinelli @zemanlx Can you guys grant me access to docker hub? I can set it up there

[2018-01-15 15:55] zemanlx commented on #150
@ferrarimarco that is an old location for the hadolint image. All new releases/master are in https://hub.docker.com/r/hadolint/hadolint/tags/

[2018-01-15 15:56] ferrarimarco commented on #150
Cool, I see... maybe you could add a warning in the description of the old one? Thanks!

[2018-01-15 15:59] zemanlx commented on #150
@lukasmartinelli can you please add a warning in the description of https://hub.docker.com/r/lukasmartinelli/hadolint/ for users to use https://hub.docker.com/r/hadolint/hadolint/?

[2018-01-15 16:01] zemanlx commented on #150
@lorenzo you should have full access to https://hub.docker.com/r/hadolint/hadolint/

[2018-01-15 16:05] lorenzo commented on #150
Sweet, I guess this does not need any fixing :)

[2018-01-15 16:05] #150 closed

[2018-01-16 09:29] ferrarimarco opened #151 "DL3016 does not support -g switch but only --global"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
`RUN npm install -g gulp@3.9.1` should be fine, but it's not. According to the [npm docs](https://docs.npmjs.com/cli/npm), either `-g` or `--global` can be used to install a package globally.

### Actual behavior

`Dockerfile:58 DL3016 Pin versions in npm. Inst

[2018-01-16 09:48] ferrarimarco commented on #41
@lukasmartinelli

Also note that a adding `--progress=false` (or anything like `--a=b` or `-a=b`) breaks the current (`1.2.6`) functionality: `Dockerfile: hGetContents: invalid argument (invalid byte sequence)`

[2018-01-16 09:55] ferrarimarco opened #152 "Adding -a=b or --a=b causes a "hGetContents: invalid argument (invalid byte sequence)" error"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

`RUN npm install -–progress=false` should not raise any error

### Actual behavior

`Dockerfile: hGetContents: invalid argument (invalid byte sequence)`

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadol

[2018-01-16 10:03] ferrarimarco opened #153 "DL3016 does not allow any argument for npm install"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
`RUN npm install --unsafe-perm` should not raise any error, because my packages are pinned in `package.json`

### Actual behavior

hadolint raises a `DL3016` error.

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm had

[2018-01-17 11:12] lorenzo opened #154 "Warn on bad COPY last argument"
- [ ] This is a bug report
- [x] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

hadolint should warn that last argument to `COPY` when using more than 2 arguments should end in a `/`

### Actual behavior

No warning, but `docker build` fails

[code]

### Steps to reproduce the behavior
[code]

[2018-01-17 20:17] zemanlx commented on #152
@ferrarimarco you gave me a tough time :smile:  I have copied `RUN npm install -–progress=false` to a new test. It was failing, even I have put a fix in the code. And after a few minutes of staring at code why it is not working, I have noticed that second dash `-` is not dash.

BTW fix is on its way.

[2018-01-17 20:47] zemanlx commented on #41
@ferrarimarco is this still an issue with `npm`, does `--silent --progress=false` helps?

[2018-01-18 08:18] ferrarimarco commented on #152
OMG sorry! I copied and pasted it from SO 😢

[2018-01-18 18:27] #151 closed

[2018-01-18 18:27] #152 closed

[2018-01-18 18:27] #153 closed

[2018-01-19 01:04] mikecook opened #156 "Dockerhub image tags outdated, fails"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
Dockerhub latest tag matches latest Github tag
Dockerhub tags align with Github tags
Automated builds configured for Dockerhub: https://docs.docker.com/docker-hub/builds/

### Actual behavior/ Steps to reproduce
[code]
[code]

**Dockerfile** (if relevant)

[cod

[2018-01-19 01:14] mikecook commented on #156
I see it's now hadolint/hadolint. Closing.

[2018-01-19 01:14] #156 closed

[2018-01-19 10:35] ferrarimarco opened #157 "DL3013 does not allow --ignore-installed argument for pip install"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

`RUN pip install --ignore-installed pip==9.0.1` not to trigger any error.

### Actual behavior

I get a false positive on `DL3013` when the [`-I (--ignore-installed)`](https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-i) option is specified.

###

[2018-01-25 09:19] #154 closed

[2018-01-25 09:19] #157 closed

[2018-01-30 14:01] mrueg opened #160 "Publish hadolint-1.3.0 on hackage"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
https://hackage.haskell.org/package/hadolint shows 1.3.0 as latest
### Actual behavior
https://hackage.haskell.org/package/hadolint still shows 1.2.6 as latest

[2018-01-30 20:11] lorenzo commented on #160
Sorry I missed this. Thanks fro bringing it up, I just uploaded the new version

[2018-01-30 20:11] #160 closed

[2018-02-01 20:53] mbelang opened #161 "DL3006 rule fails in multi-stage build FROM"
- [x] This is a bug report

### Expected behavior
The rule should not fail when `FROM` base image uses an other stage in a multi-stage build Dockerfile

### Actual behavior
The rule fails

### Steps to reproduce the behavior

The second build stage `unit-test` of the following Dockerfile is using the previous stage as it's base image which is totally fine but the rule require that we specify a tag

[2018-02-03 22:32] #161 closed

[2018-02-05 14:18] mbelang commented on #161
Thanks for the fix.
In which version will it be released? I'm using your official docker image.

[2018-02-05 16:39] lorenzo commented on #161
@mbelang it was release in v1.4.0

[2018-02-19 21:34] #20 closed

[2018-02-19 21:34] #73 closed

[2018-02-20 09:27] lorenzo commented on #20
@dblandin @mrb I added a flag to the binary to produce codeclimate json output. What's the next step to create an engine?

[2018-02-20 10:00] lorenzo commented on #74
@aw-was-here how would that work?

[2018-02-20 13:13] pbrisbin commented on #20
Hi @lorenzo,

As an example, you can check out my PR to add CC engine support to HLint here: https://github.com/ndmitchell/hlint/pull/383. You've done the first part (e.g. `--json-cc`), the other step would be a specific Docker image to run it as an engine.

I no longer work at Code Climate but am happy to help, as I'd like to see this as an engine too. Also, if you sign up at https://codeclimate.

[2018-02-20 16:28] aw-was-here commented on #74
Most lint systems have a way to specify a "temporary" rule exclusion.  Shellcheck in particular allows for a comment in the line prior to a code block. e.g.:

[code]

when run through shellcheck, the IFS line wil not throw a [SC2034](https://github.com/koalaman/shellcheck/wiki/SC2034) error

Similarly, I could see hadolint doing something like:

[code]

[2018-02-20 16:31] lorenzo commented on #74
Interesting, that makes sense to me. Thanks for clarifying @aw-was-here

[2018-02-20 16:31] lorenzo commented on #74
I'll close this ticket an open a new one with that idea

[2018-02-20 16:31] #74 closed

[2018-02-20 16:32] lorenzo opened #165 "Disable rules with inline comments"
Based on the ideas proposed [here](https://github.com/hadolint/hadolint/issues/74#issuecomment-367034282), Implement a system to ignore certain hadolint rules based on inline comments found in the dockerfile

[2018-02-21 19:05] aw-was-here commented on #165
Re-reading, I feel like I wasn't very clear about the temporary part. :) The disabled rule is only disabled for that line. e.g.:

[code]
DLxxxx is disabled for the foo1 line.  But if the foo2 line has the DLxxx issue, it would still throw an error.

Thanks!

[2018-02-22 07:00] lorenzo commented on #165
Yeah, I understood that. Thanks for clarifying anyway!

[2018-02-25 16:41] Monnoroch opened #167 "DL3009 doesn't make sense with multistage builds"
Also true for some other lints. Perhaps they should only be enforced on the last stage of the build.

[2018-02-26 09:09] zemanlx commented on #167
That is true if you plan to build only the last image as an artifact. Unfortunately, that is not always true like in case of  [test.Dockerfile](https://github.com/moby/buildkit/blob/master/hack/dockerfiles/test.Dockerfile) used in https://github.com/moby/buildkit that have all image definitions in one Dockerfile and you pick which one to build with `--target`.

If you want to save some time in bui

[2018-02-26 10:02] Monnoroch commented on #167
What you said totally makes sense. However with a long Dockerfile I might have to put too many of these disable lines. This doesn't really scale all that well. Perhaps something else can be designed in addition to disabling individual lines?

[2018-02-27 09:23] mortenlj commented on #88
This is touching on an area where the python community is somewhat split.

In my opinion, `setup.py` needs to list all the dependencies of a project, because that's how many people will end up installing the package. When all dependencies are listed in `setup.py`, I don't want the added burden of making sure a duplicate list in `requirements.txt` is also updated.

If you don't need or want the ext

[2018-02-27 10:41] zemanlx commented on #88
@mortenlj How do know that you have all dependencies in your `setup.py` to eliminate this?

I know that some package managers (`npm` or `yarn` for node) offer _lock_ file where package manager lists all dependencies to avoid this.

[2018-02-27 10:52] mortenlj commented on #88
Again, this is probably about varying approaches. I don't want to specify all my transitive dependencies, so if I have listed package A, which depends on package B, I won't specify package B. It will get pulled in when I install package A anyway.

If you are paranoid about making sure every installed package matches the hash it had when you installed it locally, then you probably want to list all

[2018-02-27 12:23] zemanlx commented on #167
Do you have anything specific (an exception mechanism) in your mind?

[2018-02-27 13:24] mortenlj commented on #88
I can still pin my versions in setup.py, and if all my dependencies also pin their versions, then there is no problem with deterministic builds.

It would certainly be preferable for me. I can't speak for every python developer in the world though. :smile:

Thinking about it, I agree that in a Dockerfile, there probably isn't a good reason to use `-e`.

[2018-02-27 15:17] lorenzo commented on #167
@Monnoroch Can you share the case where you think it does not make sense?

[2018-02-27 16:06] Monnoroch commented on #167
The case was already discussed above: I install some packages, build software, and then create a second stage that only copies binaries. The linter tells me I need to clean up after installing packages, but I don't: the second stage will not contain them anyway. So adding these cleanups will only make the code bigger, more complicated and less supportable.

[2018-02-27 16:14] #88 closed

[2018-02-27 17:50] lorenzo commented on #167
I guess we could detect whether or not an intermediate image is used as the FROM clause downstream. If it is not used, then there is no point in having the warning

[2018-02-27 23:19] Rickkwa opened #169 "Hadolint fails in the FROM when specifying a port number for a registry"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

The linter should run on Dockerfiles that use a custom registry with a port number.

### Actual behavior

The linter errors out before running any linting checks.

### Steps to reproduce the behavior

Create the following Dockerfile:

[code]

Run `docker run -

[2018-02-27 23:23] Rickkwa commented on #169
This is an issue of having 2 colons.

[2018-02-28 09:12] zemanlx commented on #169
Good catch @Rickkwa!

### Note to ourself
What else we can expect in pattern **registry**/`imagename`:_label_
- **localhost:5000**/`debian`:_9_
- **172.30.25.243:5000**/`lgx-project/ruby-ex`:_3_

in image tag area we can expect that there won't be a colon [docker_registry/tags.py#L25](https://github.com/docker/docker-registry/blob/f93b432d3fc7befa508ab27a590e6d0f78c86401/docker_registry/tags.py#L2

[2018-03-05 17:13] zemanlx opened #170 "Add a new rule for pipes in "RUN""
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

Add a new rule for pipes in `RUN`.

#### Using pipes

Some `RUN` commands depend on the ability to pipe the output of one command into another, using the pipe character (`|`), as in the following example:

[code]

Docker executes these commands using the `/bin/sh -c` interpreter, wh

[2018-03-09 20:02] lorenzo commented on #170
Looks like a nice new rule to have, @zemanlx do you want to take care of implementing it?

[2018-03-10 08:42] zemanlx commented on #170
@lorenzo yes, I will, probably next week if anybody else won't pick it up :wink:

[2018-03-11 17:20] shoeper opened #172 "Fails with dockerfile containing umlauts (special character)"
- [x] This is a bug report

### Expected behavior

Run as usual and output results.

### Actual behavior

Having umlauts and possilbly other special characters in the Dockerfile breaks hadolint. hadolint: /dev/stdin: hGetContents: invalid argument (invalid byte sequence)

### Steps to reproduce the behavior

Minimal example: output is
[code]

Dockerfile.test2
[code]

Running without the `ö` does w

[2018-03-11 19:34] IngoHeimbach opened #173 "Crash on Linux with specific locale settings"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

When running with the following locale settings:
[code]
hadolint crashes immediately with the error message:
[code]
If `LC_ALL` is set to `C` before, hadolint can be used as usual.
I use the latest version 1.5.0 on Debian buster. On macOS, hadolint works fine without setting `LC_ALL

[2018-03-12 12:44] zemanlx commented on #172
Thanks for raising this interesting issue!

Seems to be connected to build environment (which can be solved really fast) and busybox's weird handling of utf/unicode (seems non-trivial). I will dig a bit deeper and let you know my findings (and hopefully create a fix).

[2018-03-12 13:14] shoeper commented on #172
Thank you very much. If I can assist you somehow, let me know.

(Btw: The issues also exists when binding the file to the container and passing it via command line.)

[2018-03-12 13:42] zemanlx commented on #172
Yes, that looks like the only quick solution for me. I am trying it with `LC_ALL=C.UTF-8`

[code]

[2018-03-12 13:48] zemanlx commented on #172
I do not know what other options we have. Building Haskell code under alpine is a pain as `stack` and `ghc` are not supported for Alpine. Cirros image looks to have the same issue as busybox. Do you know any other small `glibc` docker image with UTF support?

[2018-03-12 14:05] zemanlx commented on #172
Can you try my image `docker pull zemanlx/hadolint:v1.5.0-13-gc472436-dirty` with your Dockerfiles and let me know if it is working?

[2018-03-12 14:08] shoeper commented on #172
Yes, it works.

[2018-03-12 15:07] lorenzo commented on #173
I think this can be resolved by not statically linking against the libraries. I will remove the static linking in the next release.

[2018-03-12 15:55] zemanlx commented on #173
@lorenzo if we remove static linking we will lose our minimal image (it won't run in busybox anymore). Is there any other option how to solve this?

[2018-03-12 17:33] lorenzo commented on #173
I’m not sure that is true, but if it is, we can have different compilation options for the image and for the binaries we distribute.

[2018-03-12 20:36] zemanlx commented on #173
I have tried dynamic a few _OS_ via docker image. If we build binary with dynamic linking we will need to ask users to install some prereq packages for some OS which is from my point of view a high price (sudo for install) in user comfort/automation.

[code]

I would rather get this solved in a different way. I think that we should not give up static linking so easy.

[2018-03-12 22:10] zemanlx commented on #173
@lorenzo Shouldn't we set `LC_ALL` (if it is `NULL`) to  `C.UTF-8` (debian world) or `C.utf8` (Red Hat world)  or fallback to safe `C` for hadolint?

I think that https://hackage.haskell.org/package/setlocale-1.0.0.5 should do the trick.

[2018-03-12 22:19] zemanlx commented on #173
or use stack [approach](https://github.com/commercialhaskell/stack/issues/856#issuecomment-135076052).

[2018-03-13 00:48] lorenzo commented on #173
@zemanlx I think we should follow what stack does. It is a lot of code, though

[2018-03-14 18:12] lorenzo commented on #172
@zemanlx what did you do to fix it?

[2018-03-15 08:35] zemanlx commented on #172
@lorenzo I have created distro image based on Debian (it uses `locale`) and set

[code]

it needs a bit more polishing and testing, but I think we will end up with two distro images to solve this.

My work is here https://github.com/hadolint/hadolint/compare/master...zemanlx:fix/UTF-input

[2018-03-15 11:51] #169 closed

[2018-03-17 20:21] jbergstroem commented on #172
Just ran into this as well. Can confirm that the fix solves it.

[2018-03-20 17:08] shaneog opened #177 "DL3008 bug when target-release is used"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

Lint passes.

### Actual behavior
Lint fails with message
[code]

### Steps to reproduce the behavior

Lint the below Dockerfile.
The `target-release` parameter `-t` or `--target-release` seems to be causing a fail for the DL3008 linter.
The package I am insta

[2018-03-20 21:57] #165 closed

[2018-03-20 21:58] #172 closed

[2018-03-21 14:31] lorenzo commented on #177
Thanks for reporting, we'll look into it shortly

[2018-03-21 19:14] jbergstroem opened #179 "Environment replacement yields parse errors"
Ran into parsing issues while setting environment variables (ref: https://docs.docker.com/engine/reference/builder/#environment-replacement)

- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

A valid pass

### Actual behavior

[code]

### Steps to reproduce the behavior

Try parsing a dockerfile with the foll

[2018-03-21 23:38] #177 closed

[2018-03-21 23:42] lorenzo commented on #179
This is a case I chose to not implement, as could only find one (invalid) use case across all popular dockerfiles in GitHub. I'm happy to add support for it. though.

I just have one question about it: Why not do this instead?

[code]

[2018-03-22 14:34] jbergstroem commented on #179
@lorenzo would work just as well -- just wanted to share an error I found in a clients gitlab pipeline.

[2018-03-22 15:01] lorenzo commented on #179
Thanks for reporting @jbergstroem. I just wanted to make sure you were not blocked by this issue

[2018-03-22 17:58] bstpierre opened #181 "incorrectly flagging `python -m pip install ...`"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

hadolint should not flag an error for a pinned pip package when run like `python -m pip install ...`.

### Actual behavior

I get an error when using `python -m pip install`, see below.

### Steps to reproduce the behavior

**Output of `hadolint --version` or

[2018-03-22 22:07] lorenzo commented on #181
Thanks for the report, we'll look into that

[2018-03-22 22:22] jhoblitt commented on #181
I'm seeing the same bogus warning:
[code]

[2018-03-23 09:44] #167 closed

[2018-03-23 09:51] zemanlx commented on #181
@bstpierre I do not see a reason to use `python -m pip` instead of `pip` (only if you are paid per character :wink: ), but correct me if I am wrong.

For `python3.6 -m pip install` mentioned later, can you use `pip3 install` instead?

[2018-03-23 10:11] zemanlx commented on #181
@jhoblitt your issue has been solved a long time ago. All you need is to use the new image `hadolint/hadolint`.

[code]

[2018-03-23 11:45] bstpierre commented on #181
I only wrote it that way in the example because that is what I had minimized. I need to use `python3.6 -m pip` because this is running against ubuntu:16.04, which has python3.5 by default but I've also got a backported 3.6 and I need to pip install a couple of packages into the 3.6 environment. Running `pip3` would install into the 3.5 environment.

In that rules code if you partitioned the comman

[2018-03-23 15:19] jhoblitt commented on #181
Grrr.  The message I reported above is actually an `apk` warning.  The `pip` error is coming from `lukasmartinelli/hadolint`, which isn't present with `hadolint/hadolint`.  Please excuse the noise.

[2018-03-23 16:47] zemanlx commented on #181
@bstpierre Ok, that sounds like a reasonable use case.
@jhoblitt No worries, it's Friday :tada:

[2018-03-26 09:45] #181 closed

[2018-03-28 15:10] gcallaghan opened #184 "Last User should not be root"
- [] This is a bug report
- [X ] This is a feature request
- [ x] I searched existing issues before opening this one

### Expected behavior
Last `USER` should not be root.

It's common to need to switch to root to install additional packages, however, there should be a layer that sets the user to non-root afterward.

[2018-04-01 00:21] panicstevenson opened #185 "DL3009 Shouldn't Recommend apt-get clean for Debian/Ubuntu Images"
- [x] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

This is somewhere between a bug report and feature request -- and relatively minor at that -- but, for Debian/Ubuntu images, there is no need to run `apt-get clean` in the same layer as installing packages. Taken from https://docs.docker.com/develop/develop-images/dockerfile_best-pr

[2018-04-04 16:15] grayside commented on #41
--silent is questionable as you may want to see verbose output in your build.
--progress=false is certainly a relevant best practice.

Both can be toggled several ways, so a rule that assumes they are done as flags could be redundant.

[2018-04-04 19:09] grayside commented on #184
I've had to suppress DL3002 in my execution because it's naive about any switch to root being bad.

[2018-04-06 14:39] grayside commented on #184
My interpretation of the report is to soften an existing rule without losing the main security concern. Have I misunderstood?

[2018-04-06 14:40] lorenzo commented on #184
@grayside I ws more interested in the particular reasons you had to disable the rule

[2018-04-06 14:53] gcallaghan commented on #184
Apologies. Re-reading, I see that my feature request is unclear.

I would like to have the ability to switch to root and back again without a lint error.
If the last user is root, I'd like a lint error to be thrown.

Currently, my only option is to disable DL3002 as @grayside mentioned. Ignoring the error as a warning has the same effect as developers in my org would then get trained to ignore war

[2018-04-08 21:18] mrueg opened #186 "Publish 1.6.2 on hackage"
Seems like  1.6.2 hasn't been published on hackage. Can you do that? Thanks!

https://hackage.haskell.org/package/hadolint

[2018-04-09 08:52] lorenzo commented on #186
Done. Thanks again!

[2018-04-09 08:52] #186 closed

[2018-04-14 16:43] mzraly opened #188 "DL3008 false positive caused by squishing apt-get -y and -qq options into -yqq"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
hadolint should not report DL3008 when Dockerfile RUN directive contains apt-get install command that squishes the -y and -qq options into -yqq (or squishes any other single-letter options that take no arguments).

### Actual behavior
hadolint DOES report DL300

[2018-04-15 18:03] #188 closed

[2018-04-16 07:51] zemanlx commented on #188
@mzraly FYI

Quiet. Produces output suitable for logging, omitting progress indicators. More q's will produce more quiet up to a maximum of two. You can also use -q=# to set the quiet level, overriding the configuration file. **Note that quiet level 2 implies -y**, you should never use -qq without a no-action modifier such as -d, --print-uris or -s as APT may decided to do something you did not ex

[2018-04-20 15:06] jpds opened #191 "Prelude.head: empty list message"
- [x] This is a bug report

I noticed that this started appearing today in my CI pipelines:

[code]

[2018-04-20 21:00] lorenzo commented on #191
Can you share the dockerfile that triggers this error?

[2018-04-20 21:03] jpds commented on #191
I do not have the Dockering at the moment, but it is a Debian based image with no errors.

[2018-04-21 03:54] JamesJJ opened #192 "EXPOSE UDP port range fails to parse"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

`EXPOSE 1000-2000/udp`

==> pass parsing

### Actual behavior

`Dockerfile:51:19 unexpected '/' expecting digit, space or a new line followed by the next instruction`

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version`

[2018-04-22 08:29] ilovezfs opened #195 "1.6.4 build failure The constructor ‘PortRange’ should have 3 arguments, but has been given 2"
- [x] This is a bug report

### Expected behavior
builds
### Actual behavior
does not build
### Steps to reproduce the behavior

try to build

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version`:**

[code]

**Dockerfile** (if relevant)

not

**Additional environment details (OS, stack version, etc.)**
macOS
GHC 8.2.2

[code]
build log https://gist.github.co

[2018-04-22 08:56] ilovezfs commented on #195
I can hack around the issue by replacing
[code]
So likely an issue with the newer language-docker versions. Not sure whether the problem is >=4 or >=5.

[2018-04-22 09:07] ilovezfs commented on #195
OK, building with language-docker 4.0.1 is OK, so the problem arises with language-docker 5.0.0.

[2018-04-22 09:09] lorenzo commented on #195
We currently only support building hadolint with the stack tool, and not straight with cabal. Please use stack and the latest master code in this repo.

[2018-04-22 09:09] #195 closed

[2018-04-22 09:10] lorenzo commented on #195
You are also welcome to download one of our pre-compiled binaries if you just want to use this tool instead of using it as a library or want to modify it.

[2018-04-22 09:10] ilovezfs commented on #195
Sorry in Homebrew we only build with cabal, so that won't be an option. Also, all formula must build from source.

[2018-04-22 09:10] #192 closed

[2018-04-22 09:12] ilovezfs commented on #195
Your package.yaml needs the following change
[code]

[2018-04-22 09:13] lorenzo commented on #195
@ilovezfs sorry, I forgot I had not merged a pull request yesterday. I'm in the process of releasing a new version. I'll let you know when the process is done

[2018-04-22 09:14] ilovezfs commented on #195
@lorenzo no worries.

[2018-04-22 09:25] ilovezfs commented on #195
@lorenzo thanks for the quick fix! Voilà: https://github.com/Homebrew/homebrew-core/pull/26943

[2018-04-23 19:28] zymergen-mbarton commented on #184
I agree. In combination with not using `sudo` in DL3004, there's no way to do root operations such as installing additional packages without getting a lint error.

[2018-04-27 15:06] iperdomo opened #196 "DL3018 false positive when running with set -ex; apk add [...]"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

`hadolint` reports no errors

### Actual behavior

`hadolint` reports:

[code]

### Steps to reproduce the behavior

* Create a `Dockerfile` with a `RUN` directive using `apk` package manager
* Prefix the apk call with a `set -ex;`
* Use `hadolint` as Docker c

[2018-04-30 11:59] WTFKr0 opened #197 "DL3022 - COPY --from= when references an external image"
Hi,
Just fall into this

### Expected behavior
`COPY    --from=myregistry/my/image:tag /binary /`
should be correct

### Actual behavior
Prompt a DL3022 error
`COPY --from should reference a previously defined FROM alias`

### Output of `hadolint --version`
[code]

[2018-04-30 14:45] lorenzo commented on #197
Since hadolint cannot perform network requests, I don't think this is a case we are interested in supporting. You may add an exception for that line of code, or entirely disabling the rule using a configuration file.

An alternative would be to trust whatever image name is placed there in the form of `registry/image:tag`, but that would leave common things out like `ubuntu:16`, which has no regist

[2018-04-30 15:30] WTFKr0 commented on #197
This is the same as doing :
[code]
This syntax is correct in Hadolint, but take two lines instead of one
:smile:

[2018-04-30 16:17] lorenzo commented on #197
I know, but this is the only way I can think of to validate aliases without incurring un network lookups and all the problems they carry.

I also think that second form is easier to understand.

[2018-05-02 11:02] zemanlx commented on #197
@WTFKr0 Out of interest what is your use case? Why do you need to copy a file from an image that is not temporary/builder?

[2018-05-02 15:48] WTFKr0 commented on #197
@zemanlx Sure see https://github.com/wtfcoderz/static-healthcheck

[2018-05-03 08:03] zemanlx commented on #197
So it is a replacement for `curl`/`wget`. Nice hack :+1:

[2018-05-03 12:09] jbergstroem commented on #196
I don't think this is related to `set`; rather passing `--no-cache`. This explodes for me:

[code]

[2018-05-03 13:18] iperdomo commented on #196
This Dockerfile validates just fine
[code]
And this one fails with the same error
[code]
Output:
[code]
So I'm not sure if is related to `--no-cache`

[2018-05-03 13:51] zemanlx commented on #196
@iperdomo
tl;dr: your issue is that there is no space before `;`

long version: we take a string in shell form and convert it to list of strings where delimiter is **whitespace** https://github.com/hadolint/language-docker/blob/master/src/Language/Docker/Parser.hs#L352 and then split commands in https://github.com/hadolint/hadolint/blob/master/src/Hadolint/Rules.hs#L173 so we can do check for each

[2018-05-03 15:08] jbergstroem commented on #196
Thanks for elaborating!

[2018-05-03 18:09] iperdomo commented on #196
@zemanlx thanks. i was using a month old docker image.

I tested it with the most recent one:

[code]
So, I guess the parsing fix is not yet published?

Again, thanks for the support

[2018-05-04 08:06] zemanlx commented on #196
@iperdomo sorry for my confusing comment. I said `it should be fixed` in meaning `somebody should fix it in future`. I have raised an issue in _hadolint/language-docker_.

[2018-05-08 12:25] lorenzo opened #198 "Should suggest using the json array version for ENTRYPOINT and CMD"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

The json array version of `ENTRYPOINT` and `CMD` should be preferred over the shell version, as already recommended by the official guidelines: https://docs.docker.com/engine/reference/builder/#cmd

I've many hours debugging the different in behaviours between both versions.

[2018-05-10 11:38] marccarre opened #199 "Ability to enforce values for LABEL via hadolint"
[_This is a feature request, and I searched existing issues before opening this one._]

### Problem

In order to have better traceability of my container images, I'd like them to have various `LABEL`s on their `Dockerfile`s, e.g.:

- [`opencontainers`' `image-spec` labels](https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys), or
- [`label-schema` lab

[2018-05-10 12:08] lorenzo commented on #199
How would you ideally express the labels requirement?

[2018-05-10 12:30] marccarre commented on #199
I don't have a specific nor strong opinion on this right now, but would probably start with some form of label name - regex pair. Maybe these could be defined in a `.hadolintrc` file, either in JSON or YAML?
For example:

- JSON
[code]

- YAML
[code]

[2018-05-10 12:36] lorenzo commented on #199
I'm not really keen on adding regexes to this tool, they are very fragile. If that solution didn't exist in another tool, how else would you like to express it?

Can we maybe come up with a number of commonly used rules for labels? for example `valueRegex: [0-9a-f]{7,40}` looks like it could just be `short_sha || long_sha`

[2018-05-10 12:44] lorenzo commented on #199
Another thought would be to use a DSL or any other intermediate language for expressing additional rules, but I'd like to explore simpler options first

[2018-05-10 13:19] marccarre commented on #199
Sure, some "strong types" could be:
- `git_hash` for, e.g. `org.opencontainers.image.revision`
- [`semver`](https://semver.org/) for, e.g. `org.opencontainers.image.version`
- [`url`](https://tools.ietf.org/html/rfc1738) for, e.g.:
  - `org.opencontainers.image.url`,
  - `org.opencontainers.image.documentation`,
  - `org.opencontainers.image.source`.
- [`datetime`](https://tools.ietf.org/html/rfc3

[2018-05-10 16:02] marccarre commented on #199
Indeed, @zemanlx, this could do the job :+1:

[2018-05-16 10:00] jpds opened #200 "Detect OS and check package manager later used"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

I had a Dockerfile where I had used Alpine as the base image but then switched over to Debian but had forgotten to change the `apk`s in my `RUN` section to `apt-get`s.

It'd be neat if hadolint could pick this up and point out the error.

[2018-05-16 11:07] lorenzo commented on #200
Good idea!

[2018-05-21 18:14] mimadrid opened #201 "Reported rules without their number of line"
- [x] This is a bug report
- [ ] This is a feature request
- [X] I searched existing issues before opening this one

First of all, thanks for this awesome tool, keep going! :+1:

I'm experiencing problems with the vim integration of https://github.com/w0rp/ale
And I think this report is related to https://github.com/w0rp/ale/issues/958

Thanks a lot in advance and don't hesitate to ask for more in

[2018-05-23 13:29] mimadrid commented on #201
I'm using the last ALE version and it's working fine except that the regular expression of ALE only parses rules with number of line associated so the next two rules aren't shown (lines 2 and 11)

I hope to be useful

![hadolint_arrows](https://user-images.githubusercontent.com/3269878/40427281-87e7b3ce-5e9d-11e8-9750-2432d20ed179.png)

[2018-05-23 16:20] lorenzo commented on #201
are you sure you are running the latest hadolint as well? That does not look like the output of hasolint, as it always outputs the line number

[2018-05-23 16:21] lorenzo commented on #201
Can you include your dockerfile so I can try locally?

[2018-05-23 19:04] lorenzo commented on #201
@mimadrid I can reproduce your issue, will get it fixed shortly

[2018-05-23 19:14] mimadrid commented on #201
@lorenzo, thanks a lot, you're awesome! :+1:
Don't hesitate to ask for testing :)

[2018-05-23 22:20] lorenzo commented on #120
@zemanlx can you include me in the dockerhub team? My username there is `joselorenzo` not `lorenzo`

[2018-05-24 07:58] #201 closed

[2018-05-24 08:06] zemanlx commented on #120
@lorenzo done

[2018-05-24 09:33] mimadrid commented on #201
Thanks a lot! it looks great! :100:

[2018-05-28 09:06] kbulygin opened #203 "`FROM x@\<newline>sha256:...`: `expecting no '@' or a valid digest hash`"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Steps to reproduce the behavior

**Output of `hadolint --version`:**

[code]

**Dockerfile**

Case 1:
[code]

Case 2:
[code]

### Expected behavior

No warnings. The backslash in inserted to keep lines at no more than 80 characters. `docker build` (`Docker version 18.03.0-ce, bu

[2018-05-28 11:01] lorenzo commented on #203
Is that even allowed? The new line breaks in dockerfile are quite arbitrary. There are other places where breaking the line is not allowed at all.

What hadolint does is that any backslash followed by a new line is treated as a single white space.

This could take a long time to fix, if it actually gets fixed due to to the complexity it introduces. So I suggest using the workaround of not breaking

[2018-05-28 11:50] lorenzo commented on #203
@kbulygin actually, this particular case seems easier to fix than I though. I expect having a fix for it during this week.

Thanks for reporting!

[2018-05-28 12:55] kbulygin commented on #203
@lorenzo Yes, it is allowed: https://docs.docker.com/engine/reference/builder/#escape. The term "escaped newline" is illustrated at https://docs.docker.com/engine/reference/builder/#run:

Note that the number of spaces is the same after preprocessing.

Dockerfile syntax is consistent here with C (which probably introduced the syntax; newline elimination happens during preprocessing, try `cpp(1)` o

[2018-05-28 12:56] kbulygin commented on #203
@lorenzo Thanks for reacting and for the wonderful linter!

[2018-06-01 12:31] jonasholtkamp opened #204 "Alpine package version pinning rule too strict?"
- [ ] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Context
#134 introduced the feature for linting Alpine Linux package version pinning. However, the Alpine package manager strategy apparently is to don't keep old package versions in a particular Alpine version. This means, when a new package version for a particular Alpine Linu

[2018-06-01 13:14] lorenzo commented on #204
@jonasholtkamp does `git=2.13.*` work in alpine like it would work with `apt-get`?

[2018-06-01 13:16] jonasholtkamp commented on #204
@lorenzo, no that doesn't work:
[code]

[2018-06-01 15:49] lorenzo commented on #204
Thanks for checking, I will investigate if we there are other ways to do this

[2018-06-01 16:00] lorenzo commented on #204
There is this way, it may work https://www.google.dk/amp/s/til.codes/how-to-install-a-specific-package-version-in-alpine-and-docker/amp/

[2018-06-02 20:52] jonasholtkamp commented on #204
Thanks @zemanlx, this is awesome! It's perfectly fine for us to use `alpine:3.7`. I just tested your code snippet both with `docker build .` and `docker run --rm -i hadolint/hadolint < Dockerfile` and it works just fine. I think this resolves the issue by itself :)

[2018-06-03 08:03] #204 closed

[2018-06-03 19:13] zemanlx commented on #204
@jonasholtkamp I am glad that It helps. Alpine docs are spartan, but this is the best I was able to find

This implementation should in theory be backwards compatible with the implementation in Adelie.

Details [here](https://git.alpinelinux.org/cgit/apk-tools/commit/?id=693b4bcdb0f22904a521a7c8ac4f13e697dc4d71).

[2018-06-06 11:31] #203 closed

[2018-06-06 20:54] nascimento opened #208 "sh is not in $PATH"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
Container was running fine with *sh*.

### Actual behavior

Receiving error when try to run sh.
Actualy I run the hadolint container inside GitlabCi and the default shell bin is SH.

Error:
docker: Error response from daemon: OCI runtime create failed: containe

[2018-06-06 22:43] zemanlx commented on #208
We are in process of replacing base (`debian -> scratch`) for hadolint which is now in `master` branch = docker `latest` tag.

Please could you explain a bit more why you need shell?

[2018-06-07 12:37] mrferos commented on #208
Wanted to chime in, currently we're using gitlab ci which by default will assume `sh` in path and will pipe the supplied commands to it:
[code]

[2018-06-07 12:39] lorenzo commented on #208
@mrferos is that behaviour configurable? It does not make a lot of sense to run a docker image by first running `sh` into it.

[2018-06-07 12:49] mrferos commented on #208
@lorenzo reading the gitlab CI docs, I don't believe so. In the case of kubernetes executor (which is what we use) it spins up the desired image and then executes some default scripts ( https://docs.gitlab.com/runner/shells/#overview ) to clone the repo, set up default CI variables, etc then starts running the specified commands.

[2018-06-07 13:02] lorenzo commented on #208
That's a very odd thing to assume. I would prefer not having to ship hadolint with a shell if possible. Let me see if there are any pointers around about this problem

[2018-06-07 13:15] lorenzo commented on #208
@mrferos Ah ok, I understand why they make that assumption. You are registering the hadolint image as a runner, it is not just a command to execute but an actual container where all the tests will run.

My suggestion for now would be to make another image yourself that wraps hadolint and also contains a shell. We could add an additional image ourselves for a future version to support this use case

[2018-06-07 13:34] mrferos commented on #208
@lorenzo I'd be more than happy to submit a PR to build a debian-slim variant that builds off the base image that I see being done in `docker/hooks/build`

[2018-06-07 13:35] lorenzo commented on #208
@mrferos please do!

[2018-06-07 13:36] lorenzo commented on #208
@mrferos if you can add some notes about the new image in the `INTEGRATIONS` doc for gitlab I would also appreciate it

[2018-06-07 14:18] mrferos commented on #208
PR is available [here](https://github.com/hadolint/hadolint/pull/210), though had I RTFM I would've seen the recommended way to run this in gitlab ci 🙃.

[2018-06-08 07:15] #173 closed

[2018-06-08 15:16] mrueg opened #213 "app/Main.hs:77:5: error: Couldn't match type ‘[Char]’ with ‘Text’"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
hadolint-1.7.0 builds with ghc-8.0.2
### Actual behavior
[code]
### Steps to reproduce the behavior

**Output of `hadolint --version` or
expected: hadolint 1.7.0

**Additional environment details (OS, stack version, etc.)**
Gentoo Linux

[2018-06-08 16:16] lorenzo commented on #213
Ill try to do my best as las time, but we don’t officially support 8.0.2

[2018-06-08 21:34] zemanlx commented on #173
@IngoHeimbach everything good comes in three and I believe that this issue is finally solved. Can you please confirm it?

[2018-06-09 11:15] trofi commented on #213
I think this failure is cause by the use of `optparse-applicateive-0.13`. The error
[code]
means that `IgnoreRule` is of unexpected type. Namely:
[code]

Note: `strOption` is required to yield `Text` here. This feature was added ony to `optparse-applicative-0.14` in https://github.com/pcapriotti/optparse-applicative/commit/ddcd183dbc4b337dacca1c478be3e4156a6f5849#diff-4191720afbea61cacc0c18ca54118

[2018-06-09 13:04] lorenzo commented on #213
@trofi, so setting the requirement to 0.14 would resolve this issue?

[2018-06-09 14:57] trofi commented on #213
Yes, I think so.

[2018-06-09 19:01] #213 closed

[2018-06-09 19:02] lorenzo commented on #213
I pushed a fixed directly to master, will release a new version of hadolint tonight

[2018-06-10 18:32] IngoHeimbach commented on #173
Great job, the latest version 1.7.1 works for me :+1:

[2018-06-11 10:32] lordvlad opened #216 "Allow compatible pip releases"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
Dockerfile contains a line like `pip install psycopg2~=2.7.4`, hadolint accepts it happily, since the version is declared and sufficiently precise.
### Actual behavior
Dockerfile contains a line like `pip install psycopg2~=2.7.4`, hadolint prints the error ' Pi

[2018-06-11 11:32] lorenzo commented on #216
I'll take a look  at this

[2018-06-11 11:54] matrixik opened #217 "Not showing errors when `RUN` is used in `ONBUILD`"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
Show errors for all commands.

### Actual behavior
Hadolint is showing error about not pinned version installation in `apk add` in simple `RUN` but is not seeing same problem in `ONBUILD RUN`.

### Steps to reproduce the behavior

**Output of `hadolint --versio

[2018-06-11 11:57] lorenzo commented on #217
Fun, that is actually fixed in my latest PR. Should be released today!

[2018-06-11 12:00] lorenzo commented on #217
Oops, no... I was mistaken. It is not fixed by it, I just made it easier to fix. Will look into it

[2018-06-11 16:34] lorenzo commented on #208
I'll close this as there is a documented solution for gitlab, and there is a pull request open for creating a separate docker image

[2018-06-11 16:34] #208 closed

[2018-06-12 08:45] #216 closed

[2018-06-12 08:45] #217 closed

[2018-06-12 11:21] lwille commented on #208
just in case someone wants a quick solution: Have a look at [`erasys/hadolint`](https://hub.docker.com/r/erasys/hadolint/).
Looking forward to see official Alpine/Debian builds!

[2018-06-12 11:39] lorenzo commented on #208
@lwille did you see our recommendation for gitlab integration?

[2018-06-12 12:39] mrueg opened #218 "Please readd /bin/sh to hadolint docker image"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
/bin/sh available on hadolint docker image
### Actual behavior
None found
### Steps to reproduce the behavior
Since this change, there's no /bin/sh in the hadolint docker image:
https://github.com/hadolint/hadolint/commit/8c2642232cbc4daa27f553bc3b4f1ddb63ba4b7

[2018-06-12 12:55] lorenzo commented on #218
what ci system do you use?

[2018-06-12 13:47] mrueg commented on #218
I used drone CI (https://github.com/drone/drone). My CI config looks similar to this:
[code]

[2018-06-12 14:16] lorenzo commented on #218
@mrueg would you like to help finish this PR? we are only missing a few changes before we can merge it and offer an official docker image with a shell https://github.com/hadolint/hadolint/pull/210

[2018-06-12 15:42] jhoblitt opened #219 "DL3006 fails when FROM uses an ARG"
- [x] This is a bug report

### Expected behavior

hadolint exits `0`

### Actual behavior

hadolint exists `1`

### Steps to reproduce the behavior

[code]

[2018-06-12 16:11] lorenzo commented on #219
out of curiosity, what is the benefit of doing this? Do you set from the command line a different base image?

[2018-06-12 16:23] jhoblitt commented on #219
@lorenzo That's correct.  It is useful if you are producing several similar images, such as from both a centos 6 and centos 7 base image, under CI/CD.  Prior to docker gaining support for ARG in FROM, many users were resorting to templating only to change the `FROM`.

[2018-06-12 16:47] lorenzo commented on #219
Do you often change the base image name instead of the tag? I imagine that all the instructions for that file would depend on something centros, for instance.

Would it make sense if the longer suggested to use the arg as the tag part, instead of the full image?

[2018-06-12 16:51] jhoblitt commented on #219
Yes, I change the docker registry repo name when testing.

[2018-06-12 16:55] lorenzo commented on #219
I see... seems like we can just disable the rule for this type of use case. I wish there was a way we could still provide some safety, but I guess this is too custom to even try.

Will look into disabling the rule and release a new version soon

[2018-06-12 17:31] jhoblitt commented on #219
I agree that the best option is to detect this case rather than fail with a false positive.  I suppose `FROM ${MYARG}:mystatictag` could still be checked for.

[2018-06-12 17:48] wevcode commented on #218
@lorenzo I am using GitLab CI with GitLab Runner (Docker Mode) which also expects /bin/sh.

[2018-06-12 18:04] lorenzo commented on #218
@wevcode are the instructions for gitlab here any help? https://github.com/hadolint/hadolint/blob/master/docs/INTEGRATION.md#gitlab-ci

[2018-06-12 18:10] wevcode commented on #218
@lorenzo This exampe uses Docker-In-Docker which will force you to use a privileged docker runner. (https://docs.gitlab.com/ee/ci/docker/using_docker_build.html)

Hadolint does not need direct docker daemon access so it should be able to run without privileged mode. Because GitLab CI performs some tasks before starting the actual job, `/bin/sh` is needed. AFAIK `busybox` should be enough.

[2018-06-12 18:12] wevcode commented on #218
@lorenzo This code snippet will create more confusion because it will throw another error if you are not using such a privileged runner.

[2018-06-12 18:18] lorenzo commented on #218
@wevcode would you like to help finish #210 ? the original author got very close to an acceptable place, but decided not to follow through.

[2018-06-12 18:20] wevcode commented on #218
@lorenzo Seems simple. Should I open a new PR?

[2018-06-12 18:41] lorenzo commented on #218
@wevcode yes please

[2018-06-13 07:01] gurvindersingh commented on #184
I am having the same issues and need to ignore the rule to install software as root. It would be good to have a check which raises the issue if last user is root otherwise not.

[2018-06-13 09:37] lorenzo commented on #208
@lwille thanks, just wanted to know if you knew of that alternative already

[2018-06-14 09:21] matrixik commented on #217
I can confirm it's working. Thank you.

[2018-06-16 07:40] #218 closed

[2018-06-16 14:06] lorenzo commented on #218
The `hadolint/hadolint:latest-debian` image is now available

[2018-06-16 14:07] lorenzo commented on #208
The `hadolint/hadolint:latest-debian` image is now available for anyone who needs an official image with a shell

[2018-06-26 12:58] #198 closed

[2018-06-26 14:48] yurrriq commented on #219
FWIW we do more like the following, and I'd like it if Hadolint didn't start to complain.

[code]

[2018-06-26 18:02] nascimento commented on #208
Thank you guys

[2018-06-27 08:02] zemanlx commented on #219
@yurrriq I am doing the same. The important thing is to have `:` in string after `FROM` and as we do not interpret variables we don't know if `:` is in a variable value. (Plus other rules that apply.)

[2018-06-28 13:00] lorenzo opened #225 "[RFC] Warn if image from another registry is used in `FROM`"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

This feature is actually 2 features in one. The first feature is about automatically checking that a Dockerfile is does not use images from untrusted repositories.

Using the `FROM` instruction is a huge exercise in trust, you have to trust that a particular version or an image is s

[2018-06-29 08:54] zemanlx commented on #225
That sounds great! Do you want to have tags/labels on rules to know which option should trigger them?

Regarding optional/categories rules. It would be useful for CI purposes if we are able to set also strictness of `hadolint` to exit with an error (non `0`) only in case of (error) or (error, warning) or (error, warning, info) in loglevel fashion.

[2018-06-29 09:37] lorenzo commented on #225
@zemanlx since I only have an use case for the optional rules, I was thinking to have just a separate list. If we need anything more fancy later, I can look into adding tags to them.

I've been also thinking about it and would like to implement it, but currently it seems to me that the severity of certain rules was not thought through in some cases. Would you like to review those severity fields a

[2018-07-03 09:15] zemanlx opened #226 "Change shell to real shell for ShellCheck"
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### What

We should also pass a value from `SHELL` to `shellcheck` in
https://github.com/hadolint/hadolint/blob/7de84c2386b38234e9f6a01dd308b431d4404260/src/Hadolint/Bash.hs#L26 because current setting is hiding errors if shell is not `bash` which is mostly not true because [default is `sh`](https://docs.dock

[2018-07-03 10:14] lorenzo commented on #226
great idea!

[2018-07-03 14:07] #170 closed

[2018-07-03 17:26] blueyed opened #227 "Dockerfile: use ENTRYPOINT instead of CMD"
It would be nice to use `ENTRYPOINT` in hadolint's own Dockerfile, pointing to `/bin/hadolint`.

This was mentioned in https://github.com/hadolint/hadolint/issues/54 already.

For backwards compatibility a script could be used instead, that would check if `$1` is executable and then call this instead - this would handle the current case where you would use e.g. "hadolint --help" instead of "--help

[2018-07-03 20:31] lorenzo commented on #227
@zemanlx what do you think about this?

@blueyed CMD is not specified twice as a mistake, we build both stages as separate docker images we distribute.

[2018-07-03 21:52] zemanlx commented on #227
@blueyed I think I understand what you mean, but I do not see many benefits that we (as users) can get from this change. On the other side to keep cli backwards compatible we need a shell for entrypoint script, which we do not have in `scratch` image and to change entrypoint at runtime is not so obvious for beginners.
Anyway if you can explain benefits (maybe with examples) and you know how to be

[2018-07-05 09:35] matrixik opened #229 "Handling pip with specified constraint file"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

In OpenStack we are using upper constraint file for specify max possible version of packaged to be installed.
Example: http://git.openstack.org/cgit/openstack/requirements/plain/upper-constraints.txt?h=master
The problem is that first I install some packages for waiting scripts and

[2018-07-05 09:39] matrixik opened #230 "Not showing SC2086 when inside ONBUILD"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

Show errors for both RUNs.

### Actual behavior

[code]

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version`:**

[code]

**Dockerfile**

[code]

**Additional environment details (OS,

[2018-07-05 09:39] lorenzo commented on #229
Thanks for the report, we'll look into adding support for that flag

[2018-07-05 09:41] lorenzo commented on #230
Hmm, this is really odd, I was sure rules for `ONBUILD` where being applied. Thanks for reporting!

[2018-07-05 12:10] lorenzo commented on #230
@matrixik no, that is no currently possible, as for the parser there is no notion of multiple lines in any instruction the `\` at the end of the line is pre-processed to mean "remove the newline char"

[2018-07-05 15:50] zemanlx commented on #229
@matrixik How can hadolint say that you specified your versions for packages? Is `--constraint` in `pip install` enough?

[2018-07-06 08:53] #230 closed

[2018-07-06 12:34] #225 closed

[2018-07-06 13:48] #87 closed

[2018-07-06 13:48] #226 closed

[2018-07-06 18:02] frenck opened #234 "SC2187 - Ash scripts will be checked as Dash, unsolvable."
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

Running Hadolint on an Alpine based Dockerfile, it will be impossible to fix the SC2187 shellcheck warning.

`SC2187 Ash scripts will be checked as Dash. Add '# shellcheck shell=dash' to silence.`

### Expected behavior

Detect we are using `ash` or offer a way to suppress the messa

[2018-07-06 18:36] frenck commented on #234
Extra info: The 1.9.0 does not have this issue.
The warning is only suppressible using `.hadolint.yaml`

[2018-07-06 20:32] lorenzo commented on #234
I’ll make this a warning if it’s by default, it is not very useful

[2018-07-07 07:51] frenck commented on #234
I do not totally agree with the suppression.
I really want to be able to specify the shell script type used.

Take for example this Dockerfile:

[code]

So which shell is it going to use with shellcheck?

[2018-07-07 08:10] lorenzo commented on #234
In that example `sh` is detected. Since there is no previous `SHELL` declaration before that run instruction. Currently the only way (and probably also the only safe way) to hint what the sell type is by using the `SHELL` instruction

In the case of detecting ash, it will be treated as `dash` there is not workaround for that. Either we try to be helpful and treated as `dash` or we don't do any ana

[2018-07-07 08:40] frenck commented on #234
Hmm... I was unclear I guess.

I was suggesting adding:

`# hadolint shell=dash`

This was, I'm still able to specify the shell, with the `SHELL` command (which would introduce an extra layer, just for the sake of linting)

[2018-07-07 09:07] lorenzo commented on #234
`SHELL` does not introduces extra layers, though. Only the instructions `RUN`, `COPY`, `ADD` create layers.

I think I did understand you, my concern with `# hadolint shell=dash` is that it may get out of sync with the parent image, whereas specifying `SHELL` again in the child image cannot. That's what I want with `SHELL` being the safe option

[2018-07-07 09:09] lorenzo commented on #234
@frenck can you open a new ticket with that suggestion, please?

I think this particular issue is solved, as it was a regression introduced after adding the automatic shell type detection (before the bash syntax was used regardless) and I think your suggestion has merit and Id like a separate issue to track it.

[2018-07-07 13:21] frenck commented on #234
Thank you for the explanation. Agreed.

In that case, we should add a rule that warns when SHELL is not specified.

[2018-07-07 17:55] #234 closed

[2018-07-12 20:21] helgi opened #238 "Require WORKDIR to be set"
Would be handy being able to specify that WORKDIR has to be in a Dockerfile; this would tho have to be an optional linter I am guessing. That brings up the need for linters that can be turned on via the config

[2018-07-12 20:31] lorenzo commented on #238
What’s the use case? How would this work in te presence of multiple FROM instructions in the same file?

[2018-07-12 20:42] helgi opened #239 "[DL3026] Display the allowed registries in the error message"
- [] This is a bug report
- [x] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
Dockerfile:2 DL3026 Use only an allowed registry (magic-repo.domain.com) in the FROM image

### Actual behavior
Dockerfile:2 DL3026 Use only an allowed registry in the FROM image

### Steps to reproduce the behavior
 hadolint --trusted-registry magic-repo.domain

[2018-07-12 20:46] helgi commented on #238
The use-case might be rather naive admittedly: I'd like to set an internal `WORKDIR` standard (but leave it up to devs) without the need to pass in `-w` to a hardcoded path where possible.

This is why I broached the subject of optional linters that people can turn on, not just opt out of via  ignore.

I would say with multiple `FROM` it would do it within each statement to have good consistency a

[2018-07-12 20:58] lorenzo commented on #238
do you want to check that the world it is set to a particular path? Or just any would do?

[2018-07-12 21:05] helgi commented on #238
Any should be fine I think

[2018-07-12 21:06] helgi commented on #41
I believe npm was fixed to not cause slowdown when progress is enabled.

[2018-07-13 10:31] 4x0v7 opened #240 "[DL3025] triggered with spaces inside [] in CMD or ENTRYPOINT"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
Rule is not triggered

### Actual behavior
Rule is triggered

### Steps to reproduce the behavior

Consider the following Dockerfile:
[code]
Removing the space between `something"` and `]` will pass (DL3025 not triggered)
This happens also for `CMD`

**Output o

[2018-07-13 11:39] lorenzo commented on #240
thanks for reporting, we'll fix this soon

[2018-07-13 15:51] helgi opened #242 "Config File path flag"
Being able to point at a config flag (`--config` for example) in addition to the path search locations that are in place would be helpful.

Would simplify using hadolint in purpose-built containers

[2018-07-14 06:45] #240 closed

[2018-07-18 10:35] vquemener commented on #184
I am still experiencing this issue :
[code]
I feel like something is wrong with this [unit test](https://github.com/hadolint/hadolint/blob/master/test/Spec.hs#L94-L101) : should it not be `ruleCatchesNot` instead of `ruleCatches`?

[2018-07-18 13:13] lorenzo commented on #184
heh, that's funny... thanks for reporting.

[2018-07-20 09:08] #184 closed

[2018-07-21 05:14] vquemener commented on #184
Thanks for fixing this!

[2018-07-26 16:34] aw-was-here opened #245 "Signed releases"
It would be great if the binaries on the releases page came with GPG signatures so that we could verify that the downloads haven't been manipulated in bad ways.

[2018-07-26 16:41] lorenzo commented on #245
Sounds like a great idea!

Would you like to help doing that? Currently the binaries are uploaded from Travis and Appveyor, so it is a matter of changing the scripts there.

[2018-07-27 11:35] zemanlx commented on #245
The process of uploading binaries is automated and transparent (CI logs are public) as @lorenzo already mentioned. If you are worried about an integrity of binaries we can add sha256 hashes for each binary so you can verify later that there were no modifications.

Something like this should work for Linux/OSX
[code]
and [checksum](https://chocolatey.org/packages/checksum) should be fine for Window

[2018-07-27 13:57] aw-was-here commented on #245
If the binaries are compromised, an uploaded sha file will be too.

Signed binaries have the advantage of having a 3rd party acting as an intermediary to guarantee that the bits are what they say they are.  Unfortunately, I have no current experience with travis, so unsure how to securely pass passwords to a process in order to sign them.

[2018-07-27 18:58] lorenzo commented on #245
Passwords can be passed as env variables, which will redacted from the output automatically in Travis. We can make sure the password is set.

@aw-was-here would you like to take care of the rest if we take care of setting the password securely in Travis?

[2018-07-29 07:57] 4x0v7 opened #246 "Ignore shellcheck when using PowerShell as SHELL"
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
When using `SHELL [ "pwsh", "-c" ]`, the commands in a `RUN` should not be run through ShellCheck

### Actual behavior
[code]

### Steps to reproduce the behavior

Consider the following Dockerfile:

[code]

This Dockerfile builds ok. Information on the `pwsh` Linux binary is available h

[2018-07-30 07:35] zemanlx commented on #245
IMHO if we are in a paranoid mode we should not use CI for this and always sign binaries by hand, presuming that somebody already gets an access to GitHub we cannot trust Travis for this (it is using GitHub auth).

[2018-07-30 11:57] omerlh opened #247 "D3200: Do no switch to root user"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
With the following docker file:
[code]

I would expect a linter error - the last user is root (default user), instead of an unprivileged user.

### Actual behavior
No lint error
### Steps to reproduce the behavior
See the dockerfile above. I think this is by de

[2018-07-30 13:42] lorenzo commented on #247
I wish there was a good way to check if the parent FROM has a specific user, but there is no good way that is also in the scope of this project, since we are not gong to issue any docket commands or make networks requests.

That said, we could add a rule to suggest always adding a USER instruction. What do you think?

[2018-07-30 15:37] helgi opened #248 "Specifying a sub-package in pip triggers SC2102"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
No error

### Actual behavior
Dockerfile:4 SC2102 Ranges can only match single chars (mentioned due to duplicates).

### Steps to reproduce the behavior
Add the `RUN` line from the `Dockerfile` section and then remove the `[]` part to see it work

**Output of `

[2018-07-30 15:40] lorenzo commented on #248
I wonder if that is a legitimate warning and it is prompting you to enclose that string in quotes instead, but if it is not legitimate, we may want to raise this issue upstream, to the Shellcheck project.

[2018-07-30 15:46] enys commented on #248
I had the same thought, but this is legitimate. IE : Works in bash without
quotes, fails in zsh without quotes.

On Mon, 30 Jul 2018 at 17:40, José Lorenzo Rodríguez <
notifications@github.com> wrote:

--
Edward Nys
Ingénieur en Informatique.
Génie logiciel.

[2018-07-30 15:46] helgi commented on #248
`pip install "newrelic-plugin-agent[postgresql]"==1.3.0` worked and removed the lint failure. Can't say I have ever really done that with `pip` before but in terms of `SC` I guess it makes sense.

Given there is nothing else around it I'd think `SC` shouldn't try to warn on that since it isn't a range; `pip` just happens to use that convention to install sub-packages only but in this case it's Had

[2018-07-30 19:06] omerlh commented on #247
That is what I was thinking. I think it is safe to assume that in most cases, if no `USER` instruction exists, then the default user (root) will be used. From the base image I worked with, this is the default behavior - which make sense.

[2018-07-30 20:33] max-10001 opened #249 "Need latest hadolint v1.10.4 in docker image"
- [] This is a bug report
- [ x] This is a feature request
- [x ] I searched existing issues before opening this one

### Expected behavior
v1.10.4 of hadolint in docker image
### Actual behavior
Haskell Dockerfile Linter v1.10.3-1-g69be604
### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version`:**

[code]

**Dockerfile** (i

[2018-07-30 20:51] lorenzo commented on #246
Thanks for reporting, I will look into this

[2018-07-30 20:51] lorenzo commented on #247
@zemanlx what do you think about having such a rule?

[2018-07-30 20:55] lorenzo commented on #249
Please run `docker pull hadolint/hadolint:latest` so you get the newest version. I'm going to close the ticket since the latest tag is pointing currently to `v1.10.4`

[2018-07-30 20:55] #249 closed

[2018-07-31 07:06] zemanlx commented on #247
@lorenzo I was thinking about this since yesterday.

It looks like a good idea, but I am afraid that there will be many false positives for applications that are meant to be run under the `root` user. I think that if we do not have some deeper analysis about application or base image we should not tell users that there is a problem if we do not have a solution for them.

I would keep this open for

[2018-07-31 07:37] zemanlx commented on #248
@enys @lorenzo what about default `/bin/sh`? How does it behave there?

[2018-07-31 07:45] enys commented on #248
@zemanlx Same as /bin/bash. In my opinion, the spellcheck quote suggestion is appropriate.

[2018-07-31 08:25] zemanlx commented on #248
I have just noticed that SC2102 is no longer in ShellCheck wiki and https://github.com/rackerlabs/auter/issues/163#issuecomment-398467771

Maybe we should consider of ignoring it by default.

[2018-07-31 08:33] lorenzo commented on #248
@zemanlx do you know why it was removed?

[2018-07-31 09:36] zemanlx commented on #248
@lorenzo I have no idea.

[2018-08-01 15:12] vitaliytv opened #250 "DL4006 with BusyBox ash"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

When using SHELL ["/bin/sh", "-o", "pipefail", "-c"], the commands in a RUN should not be fail with DL4006

### Actual behavior

/dev/stdin:26 DL4006 Set the SHELL option -o pipefail before RUN with a pipe in it
Exited with code 1

### Steps to reproduce the b

[2018-08-01 15:40] zemanlx commented on #250
That's tricky. `hadolint` have no idea that `/bin/sh` is pointing to `/bin/busybox` which supports `-o pipefail`.

I am not able to image how we can solve this. I would recommend to ignore it in comment. Any other ideas @lorenzo?

[2018-08-02 11:10] matrixik commented on #250
Why not using:
[code]

[2018-08-03 12:28] blueyed opened #251 "Empty continuation lines"
Docker itself warns about empty continuation lines with docker-build.

Give `Dockerfile`:
[code]

[code]

It would be nice if hadolint would trigger a warning/error for it also already.
Currently it does not trigger any issue for the above Dockerfile.

[2018-08-03 12:32] blueyed commented on #70
Using the subshell approach still triggers DL3003, doesn't it?

My use case is `cd /usr/bin && ln -s python3 python && ln -s pip3 pip`, which is clearer than `ln -t /usr/bin -s python3 python && ln -t /usr/bin -s pip3 pip` (and busybox's `ln` does not appear to support `-t` anyway).

[2018-08-03 13:00] lorenzo commented on #251
thanks, this is a good idea

[2018-08-03 13:05] lorenzo commented on #70
Yeah, it does trigger in a su shell. i would love to come up with a new logic for this rule, but I haven’t thought through when using cd is acceptable.

I can investigate if it is possible to detect a sub shell

[2018-08-04 07:55] vitaliytv commented on #250
@matrixik  offer solution, thanks

[2018-08-04 07:55] #250 closed

[2018-08-08 03:30] antonmarin opened #252 "apk add using variables fails"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
like this
[code]
### Actual behavior
[code]
### Steps to reproduce the behavior
1. Create Dockerfile with content
[code]

2. `docker run --rm -v ${PWD}:/app hadolint/hadolint:v1.8.0 hadolint /app/Dockerfile`

**Output of `hadolint --version` or
  `docker run --

[2018-08-08 06:25] lorenzo commented on #252
currently hadolint does no variable substitutions at all, for the time being I suggest that either you don’t use a variable, or add a
comment above for ignoring the rule.

[2018-08-08 11:34] zemanlx commented on #252
or use it per package like in node [Dockerfile](https://github.com/nodejs/docker-node/blob/e3ec2111af089e31321e76641697e154b3b6a6c3/8/alpine/Dockerfile)

[code]

I find this style more useful. Also if you do not need it after build using `ARG` seems reasonable.

[2018-08-09 22:17] lorenzo commented on #248
Do you all think ignoring the rule by default makes sense? Seems to be a fairly common case

[2018-08-10 04:02] antonmarin commented on #252
I use variable $PHPIZE_DEPS from php image, so can't change it's content. And ignoring isn't a right way too, you know.

Are you going to implement variable substitution?

[2018-08-12 09:50] antonmarin commented on #252
thanks for help

[2018-08-12 09:50] #252 closed

[2018-08-12 11:08] pakraticus commented on #248
Warning is correct behavior in this context.
The warning is misleading.
Take this pathological case
[code]

Which has this output

[code]

Add "DL#### Quote package name with shell meta characters to prevent unexpected globbing" for package managers that accept package names with shell meta characters

Update shellcheck to a version that does not include SC2102

[2018-08-12 19:07] pakraticus commented on #219
Perhaps adding a FAQ to the wiki starting with

Q: How do I suppress a one line warning because hadolint cannot expand a variable yet and will never know what I intend to put in an arg?
A: Use the inline '# hadolint ignore=....'

Q: I want to know when to clean up my Dockerfile when hadolint can expand an environment variable.
Write a test Dockerfile IE
FROM alpine:3.7
ENV PACKAGE=gcc=3.5
RUN apk

[2018-08-13 08:38] #246 closed

[2018-08-13 08:38] #229 closed

[2018-08-13 14:02] #242 closed

[2018-08-17 13:03] fvj opened #256 "`npm run install` is detected as DL3016"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
`npm run install` should not be detected as a violation of DL3016.

### Actual behavior
`npm run install` is a violation of DL3016.

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version

[2018-08-17 16:54] #256 closed

[2018-08-23 16:13] chauncey-garrett opened #259 "False positive for apt-get install --assume-yes (DL3014)"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
The error would not be thrown.
### Actual behavior
An error is thrown when `--assume-yes` is used; one is NOT thrown when `-y` is used instead.
### Steps to reproduce the behavior

[code]

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint

[2018-08-23 17:39] lorenzo commented on #259
Thanks, we'll look into this

[2018-08-23 17:42] lorenzo commented on #259
@chauncey-garrett Can you tell us the error code that should be fixed?

[2018-08-23 18:43] #259 closed

[2018-08-27 09:06] ferrarimarco opened #261 "False positive on WORKDIR with quoted values"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

The attached Dockerfile should be validated with no errors.

### Actual behavior

hadolint is reporting DL3000 on the attached Dockerfile because the `WORKDIR` value has been quoted. The use of an environment variable does not matter as I get the same error wh

[2018-09-01 17:11] timbru31 opened #263 "Error when parsing FROM with sha256 hash"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

hadolint should be able to proceed linting.

### Actual behavior

hadolint crashes.

### Steps to reproduce the behavior

1. Lint Dockerfile which uses a sha256: hash in FROM

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --

[2018-09-01 18:02] timbru31 commented on #263
Yes, see https://docs.docker.com/engine/reference/commandline/images/#list-image-digests section „List Image digests“

[2018-09-05 13:45] superpoussin22 opened #264 "[Question] Web Interface or API"
- [] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

Did you plan to provide a web interface with or  API to use with Hadolint like you have on your web site ?

Thanks

[2018-09-05 14:06] lorenzo commented on #264
It's been on my mind for a while, but haven't had time to do this. Ideally I could figure out how to compile haskell to javascript and use the generated code as a library.

The worst case is to setup a server where the binary is invoked, but I don't have time for that. Would you like to help implementing something along those lines?

[2018-09-05 15:43] jllopes opened #265 "Access main functions and data structures and all rules programmatically"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

I'm trying to make a wrapper for Hadolint and I need access to some functions and data structures from the Main file (Lint and LintOptions).
I've managed to do it but I had to do a refactor that renamed the current Main.hs so I could import the functions from that file to a differen

[2018-09-05 15:59] lorenzo commented on #265
Just move the functions to a file inside the library (src folder) and call the functions from the Main file. I will merge the PR if you want to work on this.

[2018-09-05 16:01] lorenzo commented on #265
There is no way to access the descriptions programmatically at this point, other than doing some functional contorsions :)

[2018-09-07 17:17] aw-was-here commented on #247
There's also the docker run -u flag ...

[2018-09-10 13:53] #265 closed

[2018-09-12 10:22] kenden opened #267 "Color code the output"
- [] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

In order to make the errors more obvious, it would be nice to color them in red in the output.
Like shellcheck does:

![image](https://user-images.githubusercontent.com/480586/44208550-f25e5180-a160-11e8-99f6-c10ab4364d96.png)

Then as a user, it's quicker to s

[2018-09-12 12:32] kenden commented on #267
Maybe the colors could be used like they are in shellcheck:
https://github.com/koalaman/shellcheck/blob/f91b5bc2705b48d6436e92076dcf77866edcb518/src/ShellCheck/Formatter/TTY.hs#L38

In the example below,
all the lines could be red.
or just the part about the error code (ex DL3009)?

When there is a lot of output, it would make it easier to find the errors.

[code]

[2018-09-12 12:57] lorenzo commented on #267
Ok, thanks. I think I understand what you mean now :)

[2018-09-15 13:51] ThomasSteinbach opened #268 "`COPY --chown...` leads to DL3021"
Hadolint sees the `--chown` option of Dockerfiles COPY as second argument and complains with:

[code]

Here the source line from the Dockerfile:

[code]

[2018-09-15 13:56] ThomasSteinbach commented on #268
Sorry - my fault. I had a typo in the Dockerfile, leafing the '=' between `--chown` and the value. It must be:

[code]

.. and hadolint works fine

[2018-09-15 13:56] #268 closed

[2018-09-17 13:18] jpds opened #269 "Alpine image doesn't come with sh"
- [x] This is a bug report

### Expected behavior

I'm configuring Drone CI (https://drone.io/) to have Hadolint as a validation stage with:

[code]

However, this fails with:

[code]

`hadolint/hadolint:latest-debian` works fine.

### Steps to reproduce the behavior

1. Copy and paste the above into a `.drone.yml` file
2. Download the drone go binary
3. Run `drone exec`

[2018-09-17 13:54] lorenzo commented on #269
Please use the debian based image if you need shell access. That is the sole reason we offer the debian based image :)

[2018-09-17 13:54] #269 closed

[2018-09-17 14:01] jpds commented on #269
This affects before gitlab and drone. `busybox` itself takes up 884kB: https://pkgs.alpinelinux.org/package/edge/main/x86_64/busybox

I think that's negligible given Alpine currently is 4MB compared to the 24MB for Debian.

[2018-09-17 14:41] lorenzo commented on #269
@jpds who is this affecting gitlab and drone? Can't they run the debian based image?

[2018-09-18 20:40] #197 closed

[2018-09-18 21:47] gaahrdner commented on #263
You could push a different image and overwrite a tag, which could be a security issue.  Pinning a `FROM`  command to a sha256sum would alleviate this.

[2018-09-19 01:40] lorenzo commented on #263
Pinning to a sha works fine, what I was not aware of and is not documented in the docker page is that you could both have a tag and a sha :)

[2018-09-21 19:30] fniessink opened #271 "False positive: DL3022 COPY --from should reference a previously defined FROM alias"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

Hadolint does not complain about artifacts copied from externals images

### Actual behavior

Hadolint complains about artefacts copied from external images with error message `DL3022 COPY --from should reference a previously defined FROM alias`

### Steps to

[2018-09-21 22:06] lorenzo commented on #271
This is a duplicate of https://github.com/hadolint/hadolint/issues/197

Copying from an external image is something that in my view should still be done in 2 steps, first a `FROM` and then `COPY`. This way we can also assert that you are copying from a specific tag and it is in my experience easier to read.

[2018-09-26 10:33] fniessink commented on #271
Thanks, I missed that issue when searching.

[2018-09-26 10:33] #271 closed

[2018-10-11 23:10] blueyed opened #273 "/dev/stdin might not exist when using stdin / use fd"
- [x] This is a bug report

`/dev/stdin` might not be available (e.g. with Neovim's jobs (when not using pty=1, which has drawbacks (https://github.com/neovim/neovim/issues/9107)).

It would be nice if hadolint could read stdin from the real stdin file descriptor when using `-` .

(via https://github.com/neomake/neomake/issues/2108#issuecomment-428924098)

[2018-10-12 12:55] blueyed commented on #273
According to https://github.com/neovim/neovim/issues/9107#issuecomment-429227268 `/proc/self/fd/0` could be used maybe, if a pseudo file is easier to handle.

[2018-10-14 17:24] sushant-pradhan opened #274 "ignore-warning feature request"
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
I searched the existing issues but didn't find anything relevant. The linting feature is really useful but I feel if we have a ignore-warning ability it will be useful. In my CI pipeline (running on Jenkins), I am linting Dockefile and it fails (exit status non zero) if there are linting

[2018-10-14 20:22] #274 closed, assigned to nobody

[2018-10-23 15:35] #263 closed

[2018-10-23 15:35] #273 closed

[2018-10-23 17:28] timbru31 commented on #263
Works great, thanks!

[2018-10-29 16:02] Luzifer opened #276 "[]"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version`:**

[code]

**Dockerfile** (if relevant)

[code]

**Additional environment details (OS, stack version, etc.)*

[2018-10-29 16:02] #276 closed

[2018-10-29 19:08] grosser opened #277 "DL3006 fails on images with a sha"
Using
[code]
and
[code]
and getting:
[code]

[2018-11-12 16:36] marcellodesales opened #279 "Escaping variable substitution not working with "\" on ONBUILD"
- [x] This is a bug report

### Expected behavior

* No errors when escaping variables substitution
* When ONBUILD is used, it can't pass the validation with escaping variable substitution in a string

[code]

According to https://docs.docker.com/engine/reference/builder/#environment-replacement, this  is valid in all instructions, plus `ONBUILD`

### Actual behavior

[code]

### Steps to reproduc

[2018-11-12 16:48] marcellodesales opened #280 "Ignore all rules per line comment"
- [ ] This is a bug report
- [x] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

* I'd like to ignore all rules per line

[code]

I'm getting errors and I'd like to just ignore them per line

### Actual behavior

* I can't disable syntax errors

[code]

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run

[2018-11-12 17:24] marcellodesales opened #281 "ONBUILD: fails for flags for echo command totally valid SC2039"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

* No errors

### Actual behavior

* `SC2039`

### Steps to reproduce the behavior

**$ hadolint --version Haskell Dockerfile Linter 1.15.0-no-git**

[code]

**Dockerfile** (if relevant)

[code]

**Additional environment details (OS, stack version, etc.)**

[2018-11-12 17:50] lorenzo commented on #280
This style of env vars is currently not supported `RUNNER_CMD_EXEC=${RUNNER_CMD_EXEC:-...`

The actual issue should be about supporting this style instead of the ability to disable everything.

[2018-11-12 17:51] lorenzo commented on #280
I'll close this in favour of the similar issues https://github.com/hadolint/hadolint/issues/279

Thanks for reporting!

[2018-11-12 17:51] #280 closed

[2018-11-12 18:52] marcellodesales commented on #280
@lorenzo thank u! Is there a workaround? I needed to exclude it from my checks :(

[2018-11-12 21:17] marcellodesales commented on #280
@lorenzo  What's  a syntax that would work, in this case? I have  tried different things :( NO luck :(

[2018-11-12 23:12] lorenzo commented on #280
Whew can RUNNER_CMD_EXEC be defined for the first time?

[2018-11-13 10:21] lorenzo commented on #281
This seems to be a bug (or an actual valid warning) in Shellcheck. I'm not knowledgable enough about this topic to form an opinion. Here's the upstream issue https://github.com/koalaman/shellcheck/issues/1011

A workaround I found is adding a space before the dash:

[code]

[2018-11-21 16:54] oliv3r commented on #269
This also was causing issues in koalaman/shellcheck#1069 and there the work-around/solution was to indeed ensure the image has sh and entrypoint was setup properly.

While the suggested solution is to use the debian image, the debian image is HUGE!

As the 'latest' image is for 'local' usage only, what is there against having an -alpine, next to the -debian image, that's 20 MB smaller? (Or rather,

[2018-11-21 17:02] lorenzo commented on #269
Mostly it is just work in general for us, if you want to send us a pull request with the proposed solution, I'd be happy to merge it @oliv3r

[2018-11-21 17:03] lorenzo commented on #269
Also, calling 20MB huge is a bit of a stretch nowadays :P

[2018-11-24 17:00] serain opened #282 "Enforce checksums checks when using curl/wget"
- [] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

It would be nice to have a rule that uses some regex to ensure that anything fetched from remote resources (`curl`/`wget`) is validated using a checksum.

(This SO post describes an example of doing this in a `Dockerfile`)[https://stackoverflow.com/questions/23209944/canonical-way-to

[2018-11-27 03:48] mcandre opened #283 "Recurse over directories"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

As a developer, I want hadolint to automatically look for `Dockerfile*` paths within directory trees, so that I can quickly lint large Docker projects that may contain many Dockerfile's.

[2018-11-27 04:56] mcandre opened #284 "Also lint separate shell script files"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

Hadolint does a good job linting `RUN` directives in Dockerfile's, considering many corner cases and risks of shell code. However, many Dockerfile's move the bulk of their provisioning logic into separate shell script files. Could Hadolint suggest the same improvements for shell cod

[2018-11-27 10:16] zemanlx commented on #283
This is handled by your IDE plugin for hadolint to detect what is `Dockerfile` because some called they Dockefiles with a suffix some with a prefix, so it is hard to guess what is real Dockerfile.

I am using this in CI if that is your use case.

[code]

This will ensure that you do not get `Dockerfiles` from `.git` or ignored files.

[2018-11-30 22:54] SuperSandro2000 opened #285 "Show correct line numbers"
- [x] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Steps to reproduce the behavior

[code]
This triggers SC2046 on the line of RUN and not on the line of the issue that is the curl line.

### Expected behavior

Give me the exact line of the issue.

### Actual behavior

Start line of the docker command it returned.

[2018-12-01 13:01] lorenzo commented on #285
Thanks for your interest. This is a very difficult feature to implement, because of the rules of breaking lines in dockerfiles. I don't anticipate cracking the problem anytime soon, although I have some wild ideas on how to do it.

[2018-12-01 13:03] lorenzo commented on #284
One thing that I'd like to avoid In general is having to external files other than the passed docker file. Have you tried using shellcheck as a companion to hadolint?

[2018-12-01 13:11] SuperSandro2000 commented on #285
I am not familiar with haskel at all but how I would approach it in other programming languages (Hope this helps you):
- get the beginning of the matched string
- count all LF characters until you hit one of the docker commands (RUN, COPY, etc.)
- Add the LF-count to the now already known Line number
Should work on Linux and Windows with CR LF.
Or do I miss something?

[2018-12-04 01:00] johngluckmdsol opened #286 "Support Multiple docker files from docker container run"
- [] This is a bug report
- [X] This is a feature request
- [X] I searched existing issues before opening this one

### Steps to reproduce the behavior
I have a project I'd like to lint in Travis which contains multiple Dockerfiles.  I'd like to be able to run the hadolint docker container from travis on multiple files without having to hardcode each path.  I have tried mounting a volume but was u

[2018-12-04 08:51] zemanlx commented on #286
Hi you can pass each file in your repo by

[code]

This will ensure that you do not get `Dockerfiles` from `.git` or ignored files.

[2018-12-04 17:46] johngluckmdsol commented on #286
That doesn't solve my problem.
1. I am running from travis.  Rather than attempt to install it, it would be easier if I can execute hadolint from the docker container.
2. I have several dirs, each of which contains a Dockerfile.  I see what you are saying but that still won't work for me because hadolint only accepts a single file as input.  One solution would be to enable `cat` on the docker imag

[2018-12-04 18:01] lorenzo commented on #286
Can you show how you are running it in Travis today?

[2018-12-04 22:44] johngluckmdsol commented on #286
What works for us best right now is
[code]

[2018-12-05 10:22] lorenzo commented on #286
Ok, I had a solution like that in mind. How any variant of this would be better for you use case? Is it because you would find it easier to tell travis to run everything from inside the hadolint container instead of having to pull the image manually?

There are many ways you can do this. One is to just download then latest release from GitHub. Here's a one liner:

[code]

You can also pull the doc

[2018-12-05 12:56] egel commented on #196
The repo with the list of available packages for each alpine version was the most helpful for me.

https://pkgs.alpinelinux.org/packages

[2018-12-05 20:03] johngluckmdsol commented on #286
I don't understand this
`docker-files docker run -v `pwd`:/root --rm hadolint/hadolint hadolint /root/envoy/Dockerfile /root/nginx/Dockerfile`.  I'm attempting to avoid specifying paths.  I'm trying to use a wildcard.

This works for me
`docker run hadolint/hadolint:latest-debian cat /bin/hadolint > hadolint`

From there, I simply do
`./hadolint */Dockerfile`

Thanks for the help

[2018-12-05 20:03] #286 closed

[2018-12-07 22:47] oliv3r commented on #261
Even when just wiriting `WORKDIR /usr/src` it still fails with the same error (without having it in a variable)

[2019-01-05 15:42] dimbleby opened #287 "pip version pin false positive"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

A line like this:

    RUN pip install --index-url https://example.com/simple foobar==1.0.0

should be unproblematic.

### Actual behavior

    Dockerfile:3 DL3013 Pin versions in pip. Instead of `pip install <package>` use `pip install <package>==<version>`

[2019-01-08 23:15] slodki commented on #185
From [sources of docker images](https://github.com/moby/moby/blob/03e2923e42446dbb830c654d0eec323a0b4ef02a/contrib/mkimage/debootstrap#L82-L105):

[code]

[2019-01-18 09:25] BrokeRU opened #290 "hadolint fails when use apk add with --repository"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
Run `apk add` with `--repository` argument.

### Actual behavior
Hadolint expects equal sign after `--repository` argument even if `apk` doesn't require it.
I have to place '=' after `--repository` to avoid `DL3018` error

### Steps to reproduce the behavior
[c

[2019-01-30 11:20] #287 closed

[2019-01-30 11:20] #290 closed

[2019-02-15 05:23] 27Bslash6 opened #293 "Intermittent segfault in Ubuntu 16.04 WSL"
- [x] This is a bug report
- [x] I searched existing issues before opening this one

### Expected behavior
It should work reliably and not segfault in Ubuntu WSL

### Actual behavior
Random segfaults, perhaps 1 in 4 attempts are successful

### Steps to reproduce the behavior
[code]

**Additional environment details (OS, stack version, etc.)**
[code]

[code]

I'm not sure how to generate coredumps

[2019-02-15 09:09] lorenzo commented on #293
I don’t know much about WSL, are you running the windows binary or the Linux binary?

[2019-02-15 09:47] 27Bslash6 commented on #293
The linux binary:

[code]

[2019-02-15 09:55] lorenzo commented on #293
Ok, it must be differences with libc causing this as it is dynamically linked. Would you mind trying a previous release of hadolint and report of the issue is still present?

If it still is, then the only solution would be to produce a truly static binary, but that will require a re-work of our CI.

[2019-02-15 10:16] 27Bslash6 commented on #293
Sure, I've just tried with 1.15 and 1.14 and they both exhibit the same random segfaults. Would you like me to keep going back?

[2019-02-15 11:08] lorenzo commented on #293
No, I think that's enough. I will look into how we can change our CI to be able to produce static binaries.

[2019-02-15 11:09] lorenzo commented on #293
In the meantime, you can use the docker release, which is known to work without issues.

[2019-02-21 12:09] tholok97 opened #294 "[Bug] Comment ending with backslash causes DL4006 fix to be ignored"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

[code]

The above Dockerfile should pass hadolint.

### Actual behavior

The above Dockerfile still complains about DL4006. If I remove the `# \` it passes.

### Steps to reproduce the behavior

Put this in a Dockerfile:

[code]

Build and run with `sudo docke

[2019-02-21 13:14] lorenzo commented on #294
Newline escape rules un Docker are arbitrary indeed.

What’s the need for finishing the line with a backslash?

[2019-02-21 13:41] tholok97 commented on #294
The issue popped up when I commented out a RUN command like this:
[code]

Committed the change to see our pipeline output, but then the change never reach our tests because hadolint reported DL4006 in an earlier linting stage :/

So yes the issue can be avoided by keeping in mind not to put `\` at the end of comments, but felt it was good to report it anyways since ideally Hadolint should be able

[2019-02-21 13:51] lorenzo commented on #294
Thanks for your thoughtful ticket, I wanted to know if there was any reason I was missing for adding the backslash there.

Will look into fixing this soon.

[2019-02-21 14:12] tholok97 commented on #294
Awesome! Thank you for the quick reply.

[2019-03-02 18:32] mcandre commented on #284
Yes, I do. ShellCheck, bashate, checkbashisms, etc. do not offer the same linting rules as hadolint.

Perhaps hadolint could offer the ability to lint shell script files in addition to shell script inline Dockerfiles?

[2019-03-03 08:33] lorenzo commented on #284
Hadolint uses ShellCheck internally, what do you mean it does not use the same rules?

[2019-03-05 16:43] roadSurfer commented on #75
Currently failing with CORS:
```Access to XMLHttpRequest at 'http://api.hadolint.lukasmartinelli.ch/dockerfile' from origin 'http://hadolint.lukasmartinelli.ch' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.```

[2019-03-05 19:18] lorenzo commented on #75
yes, the service has been shutdown. I don't currently have the means to host it back so it is dead for the time being.

[2019-03-07 19:48] focusaurus opened #295 "[Question] Clarify DL3018 apk version pinning specificity"
- [x] I searched existing issues before opening this one

I'm a bit confused about the details of DL3018 and hoping to clarify and then maybe update the corresponding [DL3018 wiki page](https://github.com/hadolint/hadolint/wiki/DL3018).

When pinning versions, how specific should the version numbers pinned be? The problem I'm having is if I pin the full exact version like `curl=7.61.1-r1` it will

[2019-03-08 10:44] lorenzo commented on #295
You can use `curl=~curl=7.61` a syntax added here https://git.alpinelinux.org/apk-tools/commit/?id=693b4bcdb0f22904a521a7c8ac4f13e697dc4d71

Would you like to add this info to the wiki?

[2019-03-08 10:46] lorenzo commented on #295
Using `=~` is correct, at least as long as the projects follow semver. Sin you are pinning to a a minor version, you will get all patches from there on. A package will no disappear from within the same version of alpine, as far as I understand.

[2019-03-08 11:30] zemanlx commented on #295
Hello,
as usual, it depends :wink:. If you are working strictly locked down environment or a package you need does not really follow [semver](https://semver.org/) then you won't glob at all.

If I do not have to be so strict I allow patches from package owner (ubuntu/debian/...) then I usually globing like `curl=7.61.1-*` or patches from author `curl=7.61.*`

If I am developing and I trust them th

[2019-03-08 17:37] focusaurus commented on #295
@zemanlx I wasn't able to get your asterisk syntax to work:

[code]

I updated the wiki to use the syntax `curl=~7.64` which seems to work. Wiki has range pinning first and exact pinning second which I think is the right order.

Feel free to further edit the wiki page if my changes need adjustment. Thanks!

[2019-03-08 17:37] #295 closed

[2019-03-12 02:27] mcandre commented on #284
Hmm, maybe I've been using an out of date version of ShellCheck. But I noticed that hadolint (or perhaps it was one of the other Dockerfile linters?) would suggest additional cleanup steps after `apt-get remove`...

[2019-03-12 17:19] zemanlx commented on #295
@focusaurus yep, you are right. I was still mind locked in my apt world. Alpine's `apk` won't accept stars.

[2019-03-13 10:55] micheloosterhof opened #299 "DL3015 triggered when `-o APT::Install-Recommends=false` given"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

DL3015 is not triggered when running apt-get -o APT::Install-Recommends=false

### Actual behavior

DL3015 is triggered when running apt-get -o APT::Install-Recommends=false

### Steps to reproduce the behavior

Run `apt-get install -o APT::Install-Recommends=

[2019-03-13 10:59] lorenzo commented on #299
Thanks, we will take care of this special case in the next version. In the meantime you can use the recommendation in the rule to avoid the warning being triggered

[2019-03-15 07:37] aogier opened #303 "dl3007 false negative with certain comments"
- [x] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

If before `FROM` there is at least one comment line whose last non-whitespace char is "\", DL3007 fails.

eg.

[code]
version: Haskell Dockerfile Linter v1.16.0-0-g475ad73

Thank you, regards!

[2019-03-15 09:06] lorenzo commented on #303
duplicate of #294

A patch is already under review for this. Thanks for your report

[2019-03-15 09:06] #303 closed

[2019-03-15 09:12] aogier commented on #303
this seems a general idiosyncrasy with backslashes rather than a duplicate of another unrelated (from a non-author standpoint) issue. Thank you for your work

[2019-03-15 09:41] lorenzo commented on #303
@aogier I just pushed a branch with a fix for the issue, should be realised shortly

[2019-03-15 09:42] aogier commented on #303
thank you for the update! Regards

[2019-03-15 16:49] #294 closed

[2019-03-17 02:15] zabio3 opened #305 "[Question] How are the rules numbered?"
- [x] I searched existing issues before opening this one

I'm a bit confused about the DL rule numbering.

I want to know how to assign the rule number.

 - The next rule of DL3026 is DL4000, but what is the reason for moving from 3000s to 4000s?

 - Is there a reason why DL4002 is missing?

[2019-03-18 09:56] lorenzo commented on #279
Fixed in v1.16.1

[2019-03-18 09:57] lorenzo commented on #279
sorry, I closed the wrong issue

[2019-03-18 09:59] lorenzo commented on #284
I see what you mean now. Those are rules implemented by hadolint. I'll reopen since it is an interesting idea to provide the extra rules to external scripts somehow

[2019-03-18 10:14] lorenzo commented on #305
I'm not sure about the historic reasons for this, I took ownership of the project after those decision were made. Here's what I can infer:

- `DL3000-DL3999`: Used for rules that are less opinionated, are present in the docker styleguido or are actual errors
- `DL4000-DL4999`: It seems like this was used for minor warnings, and things related to style or deprecated things. Unfortunately I added im

[2019-03-18 12:30] zabio3 commented on #305
Thank you for your polite and urgent comments.

I was able to understand the numbering of DL rules and the numbers actually assigned.
I appreciate it very much:D

[2019-03-18 12:30] #305 closed

[2019-03-18 17:40] #299 closed

[2019-03-19 16:14] charlyx opened #307 "[DL3025] False positive when there is a space before a comma"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

It should PASS.

### Actual behavior

It FAILS.

### Steps to reproduce the behavior

Hi 👋

First of all thanks for your work!
I use hadolint everywhere I use Docker 😄

I encountered a bug though: hadolint indicates a DL3025 error when there is a space before

[2019-03-19 16:44] lorenzo commented on #307
Thanks for your report, I'll look into this

[2019-03-21 01:11] rakshithbr opened #308 "Is there a way to provide config file while running Hadolint as a docker image?"
- [ ] This is a bug report
- [ ] This is a feature request
- [x] I searched existing issues before opening this one

### Issue
While Hadolint is locally installed, config file (or --ignore, --format, etc.) can be used this way.
hadolint --config < config-file-name > < Dockerfile >

Is there a way to provide this flags when hadolint run as a docker image this way?
docker run --rm -i hadolint/hadoli

[2019-03-21 06:36] #308 closed

[2019-03-22 09:26] devrck commented on #308
I have the same question how to do it?

[2019-03-22 11:22] zemanlx commented on #308
@rakshithbr you can mount you config during docker run

Let's assume that your config and Dockerfile are in your current folder

[code]
you can mount your current folder during docker run and then refer to your files from a container perspective

[code]

[2019-03-22 11:46] devrck commented on #308
For me this also worked:

[code]

[2019-03-23 00:44] rakshithbr commented on #308
Thanks @zemanlx. I did something similar. It worked for me.

[2019-03-28 10:21] nic-b opened #309 "Support for whitelisted domains in a Dockerfile?"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

Hi,

Just started looking at hadolint, specifically around its functionality to enforce/lint trusted repositories for images.

Taking this rule one step further, is it possible to apply a similar concept to domains referenced within an install command, within `RUN`? If not, would it

[2019-03-28 14:04] lorenzo commented on #309
There is currently no such feature, but looks like a great idea.

would this feature only affect pip? Or what other use cases do you have in mind?

[2019-03-28 15:22] nic-b commented on #309
I'm mostly concerned about commands that can install code from configurable sources - pip install, npm install, go get, to name but a few. Even curl/wget to an extent. However I could easily see a use case for checking all URL's within the entire dockerfile and only allowing whitelisted/disallow blacklisted.

[2019-03-28 21:07] lorenzo commented on #309
I guess we could check for urls used in known programs, but a generic solutions seems difficult.

Would you like to put some ideas together with a proposal on how this would work?

[2019-03-29 14:52] vlatkapavisic commented on #247
I'm working on an audit of users in my company's Dockerfiles. I've read a lot of articles and all state that it's a good practice to specify a less-privileged user at the end of the Dockerfile (or in the beginning if you don't need root privileges). It's simple to implement but mostly overlooked.

I did an automated audit of 60ish Dockerfiles and the majority of them had root user because they did

[2019-03-29 17:30] conn commented on #247
Ideally, anyone who would explicitly specify `USER root` would know what they're doing and confirm that it's most appropriate for their use case. That being said, I can totally see folks running applications as root just because it's more simple than creating and dropping down to a non-privilege user to run their application. It's also kind of frustrating that `hadolint` wouldn't take into account

[2019-04-01 15:10] mtearle opened #311 "DL3009 Warning when clean done as a later statement?"
- [x] This is a bug report
- [ ] This is a feature request
- [X] I searched existing issues before opening this one

### Expected behavior
RUN apt-get clean \
  && rm -rf /var/lib/apt/lists/*

(no warnings)

### Actual behavior

/dev/stdin:9 DL3009 Delete the apt-get lists after installing something

### Steps to reproduce the behavior

In Dockerfile....

Several throughout ...

RUN apt-get instal

[2019-04-01 15:12] mtearle commented on #311
#63 and #185 possibly related?

[2019-04-01 15:57] #307 closed

[2019-04-02 02:21] PatMyron opened #312 "Upload to Linux package manager"
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior
`apt-get install hadolint`
### Actual behavior
`Unable to locate package hadolint`
### Steps to reproduce the behavior
https://github.com/PatMyron/pocket-lint/runs/90578242

[2019-04-02 08:32] zemanlx commented on #312
Sorry we do not support installation via `apt` or `yum` or `another_package_manager_of_another_linux_family`. All supported options are listed in [README.md](https://github.com/hadolint/hadolint#install).

My point of view is that packages are useful/necessary if there is a need for dependency management, which we do not have (except `libc` which is there already). Updating packages in distributio

[2019-04-02 09:50] nic-b commented on #309
thanks for getting back to me. Sure. I'll take a look a the source (dont know Haskell that well mind) and come up with some ideas.

[2019-04-02 14:54] lorenzo commented on #309
More that ideas for how to code this, I was looking for examples where rules would pass/fail

[2019-04-06 09:17] FnTm opened #313 "[DL3025] False positive when single quotes used"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
I can use both double and single quotes within a CMD command
### Actual behavior
Using single quotes in a CMD command causes [DL3025] error to be shown, but it doesn't include any information about single quotes being bad.

### Steps to reproduce the behavior

[2019-04-06 09:59] lorenzo commented on #313
Thanks for your report, I need to investigate this further as I'm under the impression that the use of single quotes means something different

[2019-04-06 10:00] lorenzo commented on #313
From the docker docs:

[code]

`DL3025` actually caught a bug for you!

[2019-04-06 10:04] lorenzo commented on #313
The same note can be found for `CMD`: https://docs.docker.com/v17.09/engine/reference/builder/#cmd

I'll close this ticket as we are correctly singling the bug. Thanks for your kind words about hadolint!

[2019-04-06 10:04] #313 closed

[2019-04-06 14:49] FnTm commented on #313
Cool, I guess this is then a situation of "the more you know" 😄 Thanks for investigating @lorenzo
But would it maybe be useful to have hadolint show a specific error about this?
Because even though it did catch the bug for me, I just went back to my original script and verify that if I use the non-array syntax of CMD - single quotes do work there.

So I started from this:
[code]
My thinking there

[2019-04-06 14:56] lorenzo commented on #313
You can maybe add a note in the wiki page for this linking rule?

[2019-04-06 14:56] FnTm commented on #313
That I really can do. PR incoming!

[2019-04-06 15:01] FnTm commented on #313
Done.

[2019-04-06 20:37] lorenzo commented on #313
Thanks!

[2019-04-08 13:17] nic-b commented on #309
Ok. I was thinking just more of the same as illustrated by the pip install command above.

With the examples below, you could have config like:

[code]

[code]

[code]

**_Dockerfile examples_**

**Simple trusted host url for pip install**
`RUN pip install --trusted-host mybadurl.com -r requirements.txt`

**Defining the pip.conf on the fly to redirect to a specified url**
[code]

**Any url specifi

[2019-04-08 20:40] richmidwinter commented on #283
find . -type f -name "Dockerfile*" -exec hadolint {} \;

[2019-04-15 18:49] kevinimbrechts opened #314 "Run hadolint container on an AArch64 (ARMv8) doesn't work"
- [ ] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

Hello,
I want to run Hadoline on an Alpine distrib (for Raspberri Pi 3) and, when I execute the command from the readme, I have this error message :
[code]

### Expected behavior
The command must validate a Dockerfile.

### Actual behavior
An error appears when I run this command on

[2019-04-15 20:26] lorenzo commented on #314
We don’t offer an alpine based docker image, can you please explain what you are doing?

[2019-04-15 20:44] kevinimbrechts commented on #314
I'm not talking about an Alpine based Docker Image. I have installed an Alpine OS (not a container) on a Raspberry Pi 3 and I have installed Docker on it.
Now, I would like use Hadolint with you Docker command. That's all

[2019-04-16 07:31] zemanlx commented on #314
@kevinimbrechts Thanks for raising your issue.

Alpine is not the problem as it is running in our Docker image. `hadolint` binary is compiled for `x86_64` (amd64) architecture and Rapsberry Pi 3 is built on `aarch64` (ARMv8). I have googled a bit and I do not think that compiling Haskell for ARM is anywhere near production ready state, therefore I am afraid that we are not able to support `aarch64

[2019-04-16 07:50] kevinimbrechts commented on #314
Thanks @zemanlx. Yes, I have come to the same conclusion. I have tried to build your image and the build crashes when we install GHC:
`RUN stack --no-terminal --install-ghc test --only-dependencies`

[2019-04-16 08:04] kevinimbrechts commented on #314
It seems like we can manualy download Haskell Stack for AArch64 architecture : https://docs.haskellstack.org/en/stable/install_and_upgrade/#manual-download_2

What do you think ?

[2019-04-17 07:06] lorenzo commented on #314
The first challenge is finding an AArch machine we can use for testing. Is there any CI service that offers this?

[2019-04-17 11:47] kevinimbrechts commented on #314
Good question @lorenzo. I don't know.

[2019-04-18 19:57] kevinimbrechts commented on #314
This seems work for GHC :
[code]

Now, I have to install Stack.

I'll keep you informed.

[2019-04-24 12:36] nic-b commented on #309
Where there any thoughts on the above and whether this is something that could be looked at, or even contributed back?

[2019-04-25 17:44] varnav commented on #311
Same problem. This is what I have:

`RUN DEBIAN_FRONTEND=noninteractive apt-get update && apt-get -y install --no-install-recommends openssl ca-certificates wget
RUN wget -q https://github.com/EOSIO/eos/releases/download/v1.7.2/eosio_1.7.2-1-ubuntu-18.04_amd64.deb
RUN DEBIAN_FRONTEND=noninteractive apt-get -y install --no-install-recommends ./eosio_1.7.2-1-ubuntu-18.04_amd64.deb
RUN apt-get clean

[2019-04-25 18:18] lorenzo commented on #311
That is expected, it should be done in the same step to reduce the size of the image. You can ignore the rule if you don’t care about the size.

[2019-04-25 18:57] varnav commented on #311
Maybe we need to add the explanation here:

https://github.com/hadolint/hadolint/wiki/DL3009

Or people will keep asking.

[2019-04-25 19:50] lorenzo commented on #311
@varnav would you be kind to add a note about it in the wiki?

[2019-04-27 00:28] varnav commented on #311
Done!

[2019-04-30 14:34] Fleshgrinder opened #315 "DL3026 fails if using an ARG"
- [x] This is a bug report
- [x] This is a feature request
- [x] I searched existing issues before opening this one

### Expected behavior

I can whitelist `ARG`s that are allowed in `FROM`.

### Actual behavior

Fails with `Use only an allowed registry in the FROM image` despite `--trusted-registry '${MY_ARG}'` being set.

### Steps to reproduce the behavior

[code]

[code]

### Relates to

* #21

[2019-04-30 14:41] #315 closed

[2019-04-30 14:42] Fleshgrinder commented on #315
Just realized that this is actually not possible with Docker. 🤣 Seems like the `FROM ARG` is not intelligent enough to allow you changing the registry with an `ARG`. I'll first make sure that Docker can do that before complaining here. Hence, I might reopen this in the future.

[2019-05-06 19:52] philoserf opened #317 "only merge request"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

**Output of `hadolint --version` or
  `docker run --rm hadolint/hadolint hadolint --version`:**

[code]

**Dockerfile** (if relevant)

[code]

**Additional environment details (OS, stack version, etc.)*

[2019-05-07 01:12] #317 closed

[2019-05-09 09:46] mschiessl opened #318 "apt upgrade / apt update / apt install not recognized"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
apt [upgradelupdate|install|...] is exactly treated like apt-get [upgrade|update|install|...]

### Actual behavior
using `apt-get update && apt-get upgrade`is throwing the expected errors, by using `apt update && apt upgrade` the check is bypassed

### Steps to

[2019-05-11 22:09] PatMyron commented on #107
duplicate of https://github.com/hadolint/hadolint/issues/75

[2019-05-20 22:46] nipuna-perera commented on #199
Any progress on this?

[2019-05-21 15:07] SuperSandro2000 commented on #199
@marccarre Don't you think you can incoperate docker label inspector into your CI workflow?

[2019-05-23 03:19] oyewaleoyelami opened #319 "To support the use of remote configuration file [Docker]"
- [ ] This is a bug report
- [x] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
should be able to use a remote configuration file instead of a local one
### Actual behavior
`` Yaml file not found: remoteUrl/myconfig.yml
CallStack (from HasCallStack):
  error, called at app/Main.hs:108:25 in main:Main
1 ``
### Steps to reproduce the behavio

[2019-05-23 10:11] Frodox commented on #247
Bump!

My suggestion: at least, add *optional* rule - that USER command presents.
Because:
* there is `docker -u` option
* sometimes software should be running under root

and in this cases ^ ops can disable linting for this build manually.
But if ops want to force rules - they have no option :(

[2019-05-23 10:12] Frodox commented on #238
bump

[2019-05-23 10:25] Frodox commented on #55
COPY is preferred way to use in Dockerfile according to practice, real experience and best-practice ( https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#add-or-copy ). It is more obvious what happens

[2019-05-23 11:19] lorenzo commented on #238
@Frodox would you mind explaining your own use case for this?

[2019-05-23 11:21] lorenzo commented on #247
I need to think about how to have optional rules in a way that it makes sense, but this is something that affects me as well

[2019-05-23 11:23] lorenzo commented on #319
I would rather not make hadolint fetch things from the network. Is it not possible for you to download the file beforehand?

[2019-05-23 11:24] lorenzo commented on #107
Closing as this is a duplicate

[2019-05-23 11:24] #107 closed

[2019-05-25 06:50] oyewaleoyelami commented on #319
It is possible to download it beforehand but the context of usage is to centralize the configuration and we want to make sure all devs (using our delivery pipeline) comply to same preferred rules across all teams.

[2019-05-25 09:17] lorenzo commented on #319
Is building your own docker image an alternative to you? In your own image you could download the file beforehand and then invoke the binary from the official image.

[2019-05-25 11:52] Frodox commented on #238
@lorenzo
Of course.

Well, I definitely would like to force setting `WORKDIR` in my own/my developers' Dockerfiles. Explicit is better than implicit (c).

Without any WORKDIR - current dir for script is undefined explicitly.
You can't guess it, i.e.
[code]
which pwd would be? Where app is located inside?
And, if you know / check it - pwd would be `/`, which is also very bad practice.
So, I also wa

[2019-05-25 13:09] oyewaleoyelami commented on #319
I will discuss this approach with the rest of the team and revert. Thanks for the suggestion

[2019-05-25 14:07] lorenzo commented on #238
Do you think this new rule should trigger only if we can detect the usage of a relative path?

[2019-05-25 14:54] SuperSandro2000 commented on #238
Using ``/`` is actually a good practice for single binary images. Good example are single binary go images that only have one file in it.
https://github.com/SuperSandro2000/compy/blob/docker-redo/Dockerfile#L12

[2019-05-25 15:29] lorenzo commented on #238
@SuperSandro2000 yeah, that's my point should we only warn if we can find relative paths? There would be little value in warning if all your provided paths are absolute.

[2019-05-25 15:35] SuperSandro2000 commented on #238
Definitely! False positives are always a bad thing and should be avoided.
I don't know how high the overhead of this would be. Also it could be quite hard to rightfully differentiate absolute and relative paths.

[2019-05-25 15:45] lorenzo commented on #238
Do you have some examples that you think would be hard to detect?

[2019-05-25 15:52] SuperSandro2000 commented on #238
As soon as you use variables in docker instructions it could become a bit complicated.

[2019-05-25 15:54] lorenzo commented on #238
yeah, variables are definitely one of the case. I personally lean towards assuming those cases are safe, since there is not much you can do about them. It's one of the reasons I avoid variables in my files

[2019-05-25 16:58] SuperSandro2000 commented on #238
I don't use them either but if the tool is a nuisance and you need to turn half of it off no one likes to use it.

[2019-05-28 15:10] ribx commented on #281
Also:

[code]
gives `SC2039 In POSIX sh, echo flags are undefined.` See https://github.com/koalaman/shellcheck/issues/1593

[2019-06-09 13:40] Frodox commented on #247
@lorenzo any ideas? :)

[2019-06-10 17:21] pascalandy opened #321 "Basic docker un does not work"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Steps to reproduce the behavior

[code]

**Dockerfile** (if relevant)

[code]

**Additional environment details (OS, stack version, etc.)**

mac 10,13,6

[2019-06-10 18:10] SuperSandro2000 commented on #321
Forks on Ubuntu 19.04. Seems to be a Mac specific issue.

[2019-06-10 18:35] pascalandy commented on #321
Something was off with brew. Fixed it on my machine :)

[2019-06-10 18:35] #321 closed

[2019-06-12 15:17] wheelq opened #322 "DL4001 when using multi-stage builds"
- [x] This is a bug report
- [ ] This is a feature request
- [ ] I searched existing issues before opening this one

### Expected behavior
No issues should be raised

### Actual behavior
`[hadolint] Either use Wget or Curl but not both (DL4001)`

### Steps to reproduce the behavior
Create a Dockerfile with multi-stage build.
In the first image use: `curl` and `wget` in the second image.

#### Dock

[2019-06-13 05:29] lorenzo commented on #322
How can we reproduce this error?

[2019-06-13 08:02] wheelq commented on #322
issue updated with Dockerfile

[2019-06-13 08:04] lorenzo commented on #322
Thanks, I will take care of this

[2019-06-19 22:58] stephengroat-dd commented on #318
I ran into this same issue as well and was thinking the recommendation should first be to use `apt-*` binaries over `apt`.

According to the [`apt` manpage](https://manpages.debian.org/stretch/apt/apt.8.en.html#SCRIPT_USAGE_AND_DIFFERENCES_FROM_OTHER_APT_TOOLS):

From my reading of this, especially the mentions of "end-user tool", changing behavior, etc., it seems like a rule recommending against

[2019-06-20 09:40] zemanlx commented on #318
@stephengroat-dd sounds good. Accepting just `apt` would be easier, but not using `apt` instead of `apt-get` sound like a good rule. What do you think @lorenzo?